@import '../../../@theme/styles/themes';
// @import '~@nebular/theme/styles/global/bootstrap/hero-buttons';
// @import '~bootstrap/scss/mixins/breakpoints';
// @import '~@nebular/theme/styles/global/bootstrap/breakpoints';

/deep/ .nb-theme-corporate nb-actions.medium nb-action i.control-icon {
    font-size: 20px;
    color: #494949;
}

.clear {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.badge{
    color: #fff;
}

.emergency_container {
    width: 90%;
    margin: 0 auto;
}

.employment_container {
    width: 90%;
    margin: 0 auto;
}

.education_container{
    width: 90%;
    margin: 0 auto;
}

.fieldError{
    border: 2px solid #ff6b83;
}

.btn-educational{
    margin-top: 25px;
}

.disabled {
    pointer-events: none;
    background: #f9f8f9;
}
.disabledDiv{
    pointer-events: none;
    background: #f9f8f9;
}

.disabledLinks {
    opacity: 0.5;
    cursor: not-allowed;
}
label.error{
    color: #ff6b83;
    font-size: 11px;
}
