<nb-card>
	<nb-card-header>
		Add New Vehicle
		<button class="close" aria-label="Close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</nb-card-header>
	<nb-card-body [nbSpinner]="sgs.loading" nbSpinnerStatus="success">
		<div class="row">
			<div class="col-md-4">
				<button nbButton matRipple hero status="primary" (click)="updateTruckReq()">Update Required Field</button>
			</div>
		</div>
		<br />
		<form [formGroup]="form">
			<div class="header acenter">
				<h3>Name/Category/Model/Type</h3>
			</div>
			<mat-divider></mat-divider>
			<br />
			<div class="row">
				<div class="col-md-6">
					<mat-label>Select a Model:</mat-label>
					<mat-form-field class="input-example">
						<mat-select formControlName="category" required>
							<mat-option *ngFor="let category of categoryData" [value]="category.categories">{{ category.categories | titlecase }}</mat-option>
						</mat-select>
						<mat-error *ngIf="form.get('category').touched && form.controls['category'].errors?.required">Category is required</mat-error>
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-label>Select a Type:</mat-label>
					<mat-form-field class="input-example">
						<mat-select formControlName="truckType" required>
							<mat-option *ngFor="let types of typeData" [value]="types.type">{{ types.type | titlecase }}</mat-option>
						</mat-select>
						<mat-error *ngIf="form.get('truckType').touched && form.controls['truckType'].errors?.required">Type is required</mat-error>
					</mat-form-field>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-6">
					<mat-label>Name: </mat-label>
					<mat-form-field class="input-example" *ngIf="truckModel">
						<input matInput autocomplete="off" formControlName="truckModel" required />
						<mat-error *ngIf="form?.get('truckModel').touched && form.controls['truckModel'].errors?.required && truckModel">Truck Name is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!truckModel">
						<mat-label><span class="name">Name</span></mat-label>
						<input matInput formControlName="truckModel" />
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-label>Plate Number: </mat-label>
					<mat-form-field class="input-example" *ngIf="plate">
						<input matInput autocomplete="off" formControlName="plate" required />
						<mat-error *ngIf="form?.get('plate').touched && form.controls['plate'].errors?.required && plate">Plate number is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!plate">
						<mat-label><span class="name">Plate Number:</span></mat-label>
						<input matInput formControlName="plate" />
					</mat-form-field>
				</div>
			</div>
			<div class="header acenter">
				<h3>Engine/Chassis/Color/Weight</h3>
			</div>
			<mat-divider></mat-divider>
			<br />
			<div class="row">
				<div class="col-md-6">
					<mat-label>Engine number: </mat-label>
					<mat-form-field class="input-example" *ngIf="engine">
						<input matInput autocomplete="off" formControlName="engine" required />
						<mat-error *ngIf="form?.get('engine').touched && form.controls['engine'].errors?.required && engine">Engine number required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!engine">
						<mat-label><span class="name">Engine Number:</span></mat-label>
						<input matInput formControlName="engine" />
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-label>Chassis number: </mat-label>
					<mat-form-field class="input-example" *ngIf="chassis">
						<input matInput autocomplete="off" formControlName="chassis" required />
						<mat-error *ngIf="form?.get('chassis').touched && form.controls['chassis'].errors?.required && chassis">Chassis number is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!chassis">
						<mat-label><span class="name">Chassis number:</span></mat-label>
						<input matInput formControlName="chassis" />
					</mat-form-field>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-6">
					<mat-label>Body Color: </mat-label>
					<mat-form-field class="input-example" *ngIf="color">
						<input matInput autocomplete="off" formControlName="color" required />
						<mat-error *ngIf="form?.get('color').touched && form.controls['color'].errors?.required && color">Color is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!color">
						<mat-label><span class="name">Body Color:</span></mat-label>
						<input matInput formControlName="color" />
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-label>Weight of truck: </mat-label>
					<mat-form-field class="input-example" *ngIf="weight">
						<input type="number" min="0" matInput autocomplete="off" formControlName="weight" required />
						<mat-error *ngIf="form?.get('weight').touched && form.controls['weight'].errors?.required && weight">Weight of truck is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!weight">
						<mat-label><span class="name">Weight of truck:</span></mat-label>
						<input matInput formControlName="weight" />
					</mat-form-field>
				</div>
			</div>
			<div class="header acenter">
				<h3>Load/Tire/Lenght/Battery</h3>
			</div>
			<mat-divider></mat-divider>
			<br />
			<div class="row">
				<div class="col-md-6">
					<mat-label>Length of truck: </mat-label>
					<mat-form-field class="input-example" *ngIf="length">
						<input type="number" min="0" matInput autocomplete="off" formControlName="length" required />
						<mat-error *ngIf="form?.get('length').touched && form.controls['length'].errors?.required && length">Length of truck is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!length">
						<mat-label><span class="name">Length of truck:</span></mat-label>
						<input matInput formControlName="length" />
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-label>Load capacity: </mat-label>
					<mat-form-field class="input-example" *ngIf="capacity">
						<input type="number" min="0" matInput autocomplete="off" formControlName="capacity" required />
						<mat-error *ngIf="form?.get('capacity').touched && form.controls['capacity'].errors?.required && capacity">Load capacity is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!capacity">
						<mat-label><span class="name">Load capacity:</span></mat-label>
						<input matInput formControlName="capacity" />
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<mat-label>Tires size: </mat-label>
					<mat-form-field class="input-example" *ngIf="tireSize">
						<input type="number" min="0" matInput autocomplete="off" formControlName="tireSize" required />
						<mat-error *ngIf="form?.get('tireSize').touched && form.controls['tireSize'].errors?.required && tireSize">Tires size is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!tireSize">
						<mat-label><span class="name">Tires size:</span></mat-label>
						<input matInput formControlName="tireSize" />
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-label>Battery size: </mat-label>
					<mat-form-field class="input-example" *ngIf="batterySize">
						<input type="number" min="0" matInput autocomplete="off" formControlName="batterySize" required />
						<mat-error *ngIf="form?.get('batterySize').touched && form.controls['batterySize'].errors?.required && batterySize">Battery size is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!batterySize">
						<mat-label><span class="name">Battery size:</span></mat-label>
						<input matInput formControlName="batterySize" />
					</mat-form-field>
				</div>
			</div>
			<div class="header acenter">
				<h3>Garage/OR/CR/Registration</h3>
			</div>
			<mat-divider></mat-divider>
			<br />
			<div class="row">
				<div class="col-md-6">
					<mat-label>Garage: </mat-label>
					<mat-form-field class="input-example" *ngIf="garage">
						<input matInput autocomplete="off" formControlName="garage" required />
						<mat-error *ngIf="form?.get('garage').touched && form.controls['garage'].errors?.required && garage">Garage is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!garage">
						<mat-label><span class="name">Garage:</span></mat-label>
						<input matInput formControlName="garage" />
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-label>OR #: </mat-label>
					<mat-form-field class="input-example" *ngIf="or">
						<input type="number" min="0" matInput autocomplete="off" formControlName="or" required />
						<mat-error *ngIf="form?.get('or').touched && form.controls['or'].errors?.required && or">OR # is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!or">
						<mat-label><span class="name">OR #:</span></mat-label>
						<input matInput formControlName="or" />
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<mat-label>CR #: </mat-label>
					<mat-form-field class="input-example" *ngIf="cr">
						<input type="number" min="0" matInput autocomplete="off" formControlName="cr" required />
						<mat-error *ngIf="form?.get('cr').touched && form.controls['cr'].errors?.required && cr">CR # is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!cr">
						<mat-label><span class="name">CR #:</span></mat-label>
						<input matInput formControlName="cr" />
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-label>Date of registration: </mat-label>
					<mat-form-field class="input-example" *ngIf="dateRegister">
						<input matInput autocomplete="off" formControlName="dateRegister" required bsDatepicker />
						<mat-error *ngIf="form?.get('dateRegister').touched && form.controls['dateRegister'].errors?.required && dateRegister">Date of registration is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!dateRegister">
						<mat-label><span class="name">Date of registration:</span></mat-label>
						<input matInput formControlName="dateRegister" bsDatepicker />
					</mat-form-field>
				</div>
			</div>
			<div class="header acenter">
				<h3>Renewal/Insurance/Renewal</h3>
			</div>
			<mat-divider></mat-divider>
			<br />
			<div class="row">
				<div class="col-md-6">
					<mat-label>Truck renewal date: </mat-label>
					<mat-form-field class="input-example" *ngIf="renewal">
						<input matInput autocomplete="off" formControlName="renewal" required bsDatepicker />
						<mat-error *ngIf="form?.get('renewal').touched && form.controls['renewal'].errors?.required && renewal">Truck renewal date is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!renewal">
						<mat-label><span class="name">Truck renewal date:</span></mat-label>
						<input matInput formControlName="renewal" placement="top" bsDatepicker />
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-label>Insurance: </mat-label>
					<mat-form-field class="input-example" *ngIf="insurance">
						<input matInput autocomplete="off" formControlName="insurance" required />
						<mat-error *ngIf="form?.get('insurance').touched && form.controls['insurance'].errors?.required && insurance">Insurance is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!insurance">
						<mat-label><span class="name">Insurance:</span></mat-label>
						<input matInput formControlName="insurance" />
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<mat-label>Insurance renewal date: </mat-label>
					<mat-form-field class="input-example" *ngIf="insuranceRenewal">
						<input matInput autocomplete="off" formControlName="insuranceRenewal" placement="top" required bsDatepicker />
						<mat-error *ngIf="form?.get('insuranceRenewal').touched && form.controls['insuranceRenewal'].errors?.required && insuranceRenewal">Insurance renewal date is required</mat-error>
					</mat-form-field>
					<mat-form-field class="input-example" *ngIf="!insuranceRenewal">
						<mat-label><span class="name">Insurance renewal date:</span></mat-label>
						<input matInput formControlName="insuranceRenewal" placement="top" bsDatepicker />
					</mat-form-field>
				</div>
			</div>
		</form>
	</nb-card-body>
	<nb-card-footer class="aright">
		<button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
		&nbsp;
		<button nbButton matRipple hero status="primary" (click)="sgs.submitting = true; save()" [disabled]="form.value.category === ''">Save</button>
	</nb-card-footer>
</nb-card>
