<nb-card>
  <nb-card-header>
    Employee Renewals
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="col-sm-12">
      <table class="table" [mfData]="data | dataFilter : filterQuery: selectQuery" #mftabletwo="mfDataTable"
        [mfRowsOnPage]="10" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id Name</th>
            <th scope="col">Date Released</th>
            <th scope="col">Date Expire</th>
            <th scope="col">Status</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngIf="mftabletwo.data.length < 1">
            <td colspan="7" class="acenter error">No data found</td>
          </tr>
          <tr *ngFor="let data of mftabletwo.data; let i = index">
            <td scope="col">{{ i+1 }}</td>
            <td scope="col">{{ data.idName }}</td>
            <td scope="col">{{ data.dateReleased  | date}}</td>
            <td scope="col">{{ data.dateExpire  | date}}</td>
            <th scope="col">
              <a *ngIf="data.expire > now && data.expire !== 'NaNaNaN'"><i class="fas fa-circle circle-active"></i>
                Expiring</a>
              <a *ngIf="data.expire == now"><i class="fas fa-exclamation-circle  last"></i> Last Day</a>
              <a *ngIf="data.expire < now"><i class="fas fa-exclamation-circle ex"></i> Overdue</a>
              <a *ngIf="data.expire == 'NaNaNaN'"><i class="fas fa-exclamation-circle expired"></i> Not Set</a>
            </th>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50,100]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </nb-card-body>
  <nb-card-footer class="aright">
    <button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>

  </nb-card-footer>
</nb-card>
