<nb-card>
	<nb-card-header>
		<div class="row">
			<div class="col-md-2">
				<mat-form-field class="input-example">
					<mat-label>Date</mat-label>
					<input matInput autocomplete="off" bsDatepicker [(ngModel)]="date" />
				</mat-form-field>
			</div>
			<div class="col-md-2">
				<mat-form-field class="input-example">
					<mat-label>PLATE #</mat-label>
					<input type="number" matInput autocomplete="off" [(ngModel)]="plate" />
				</mat-form-field>
			</div>
			<div class="col-md-2">
				<mat-form-field class="input-example">
					<mat-label>VRRF #</mat-label>
					<input type="number" matInput autocomplete="off" [(ngModel)]="vrrf" />
				</mat-form-field>
			</div>
			<div class="col-md-3">
				<mat-form-field class="input-example">
					<mat-label>KM #</mat-label>
					<input type="number" matInput autocomplete="off" [(ngModel)]="km" />
				</mat-form-field>
			</div>
			<div class="col-md-3">
				<mat-form-field class="input-example">
					<mat-label>HOUR READING</mat-label>
					<input matInput autocomplete="off" [(ngModel)]="hourReading" />
				</mat-form-field>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="row">
			<table class="table">
				<tbody>
					<tr>
						<td scope="col">
							<strong>TRUCK MODEL</strong>
						</td>
						<td scope="col">
							<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="truckmodel">
								<mat-radio-button class="example-radio-button" *ngFor="let model of model" [value]="model"
									><strong>{{ model }}</strong>
								</mat-radio-button>
							</mat-radio-group>
						</td>
					</tr>
					<tr>
						<td scope="col"><strong>TRUCK TYPE</strong></td>
						<td scope="col">
							<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="trucktype">
								<mat-radio-button class="example-radio-button" *ngFor="let type of type" [value]="type"
									><strong>{{ type }}</strong>
								</mat-radio-button>
							</mat-radio-group>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</nb-card-body>
</nb-card>
<br />
<nb-card>
	<nb-card-header>Work Details</nb-card-header>
	<nb-card-body>
		<table class="table">
			<tbody>
				<tr *ngFor="let workDetails of workDetails; let i = index">
					<td>
						<nb-accordion>
							<nb-accordion-item #item>
								<nb-accordion-item-header>
									{{ workDetails.name | titlecase }}
								</nb-accordion-item-header>
								<nb-accordion-item-body>
									<mat-form-field>
										<mat-label>Scope of work</mat-label>
										<input matInput autocomplete="off" [(ngModel)]="workDetails.details" />
									</mat-form-field>
								</nb-accordion-item-body>
							</nb-accordion-item>
						</nb-accordion>
					</td>
				</tr>
			</tbody>
			<tfoot></tfoot>
		</table>
	</nb-card-body>
</nb-card>
<br />
<nb-card>
	<nb-card-body>
		<div class="row">
			<div class="col-md-3">
				<p><strong>ASSIGNED MECHANICS:</strong></p>
				<mat-form-field>
					<mat-label>MECHANICS</mat-label>
					<input matInput autocomplete="off" [(ngModel)]="mech1" />
				</mat-form-field>
				<br />
				<mat-form-field>
					<mat-label>MECHANICS</mat-label>
					<input matInput autocomplete="off" [(ngModel)]="mech2" />
				</mat-form-field>
				<br />
				<mat-form-field>
					<mat-label>MECHANICS</mat-label>
					<input matInput autocomplete="off" [(ngModel)]="mech3" />
				</mat-form-field>
				<br />
				<mat-form-field>
					<mat-label>MECHANICS</mat-label>
					<input matInput autocomplete="off" [(ngModel)]="mech4" />
				</mat-form-field>
			</div>
			<div class="col-md-3">
				<p><strong>ACCOMPLISHED BY:</strong></p>
				<mat-form-field>
					<mat-label>MLU REPRESENTATIVE</mat-label>
					<input matInput autocomplete="off" [(ngModel)]="accomplishedBy" />
				</mat-form-field>
			</div>
			<div class="col-md-3">
				<p><strong>REVIEWED BY:</strong></p>
				<mat-form-field>
					<mat-label>MLU REPRESENTATIVE</mat-label>
					<input matInput autocomplete="off" [(ngModel)]="reviewedBy" />
				</mat-form-field>
			</div>
			<div class="col-md-3">
				<p><strong>APPROVED BY:</strong></p>
				<mat-form-field>
					<mat-label>RYTMATCH REPRESENTATIVE</mat-label>
					<input matInput autocomplete="off" [(ngModel)]="approvedBy" />
				</mat-form-field>
			</div>
		</div>
	</nb-card-body>
	<nb-card-footer class="aright">
		<button nbButton matRipple hero status="primary" (click)="save()">Save</button>
	</nb-card-footer>
</nb-card>
