<div class="modal-header">
  TAX Contribution Table:
  <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row" *ngIf="!isActive">
      <div class="col-sm-12">
        <label><span class="error">*</span> Contribution Name:</label>
        <input type="text" class="form-control" formControlName="title" [ngClass]="{'fieldError': form.get('title').touched && form.controls['title'].errors?.required}">
      </div>
      <div class="col-sm-12">
        <label>Desctiption:</label>
        <input type="text" class="form-control" formControlName="description">
      </div>
      <div class="col-sm-12">
        <label>Note:</label>
        <textarea class="form-control" formControlName="note"></textarea>
      </div>
    </div>
  </form>
  
  <form [formGroup]="table">
    <ng-container *ngIf="isActive">
      <div class="row">
        <div class="clear"></div>
        <div class='col-sm-12 input-group-sm'>
          <label>Lower Limit: <i class="fas fa-exclamation-triangle error" nbPopover="Field value must be at least 0 - 999999999" nbPopoverMode="hint" nbPopoverPlacement="top" 
            *ngIf="table.controls['lowerLimit'].errors?.min || table.controls['lowerLimit'].errors?.max"></i>
          </label>
          <input type="number" class="form-control" formControlName="lowerLimit" min="0" max="999999999" [ngClass]="{'fieldError': table.get('lowerLimit').touched && 
            table.controls['lowerLimit'].errors?.required || table.controls['lowerLimit'].errors?.min || table.controls['lowerLimit'].errors?.max }">
        </div>
        <div class="clear"></div>
        <div class='col-sm-12 input-group-sm'>
          <label>Upper Limit: <i class="fas fa-exclamation-triangle error" nbPopover="Field value must be at least 0 - 999999999" nbPopoverMode="hint" nbPopoverPlacement="top" 
            *ngIf="table.controls['upperLimit'].errors?.min || table.controls['upperLimit'].errors?.max"></i>
          </label>
          <input type="number" class="form-control" formControlName="upperLimit" min="0" max="999999999" [ngClass]="{'fieldError': table.get('upperLimit').touched && 
            table.controls['upperLimit'].errors?.required || table.controls['upperLimit'].errors?.min || table.controls['upperLimit'].errors?.max }">
        </div>

        <div class="clear"></div>
        <div class='col-sm-12 input-group-sm'>
          <label>Tax on Lower Limit: <i class="fas fa-exclamation-triangle error" nbPopover="Field value must be at least 0 - 999999999" nbPopoverMode="hint" nbPopoverPlacement="top" 
            *ngIf="table.controls['taxOnLower'].errors?.min || table.controls['taxOnLower'].errors?.max"></i>
          </label>
          <input type="number" class="form-control" formControlName="taxOnLower" min="0" max="999999999" [ngClass]="{'fieldError': table.get('taxOnLower').touched && 
            table.controls['taxOnLower'].errors?.required || table.controls['taxOnLower'].errors?.min || table.controls['taxOnLower'].errors?.max }">
        </div>
        <div class="clear"></div>
        <div class='col-sm-12 input-group-sm'>
          <label>Tax on excess over lower limit: <i class="fas fa-exclamation-triangle error" nbPopover="Field value must be at least 0 - 100" nbPopoverMode="hint" nbPopoverPlacement="top" 
            *ngIf="table.controls['taxOnExcess'].errors?.min || table.controls['taxOnExcess'].errors?.max"></i>
          </label>
          <input type="number" class="form-control" formControlName="taxOnExcess" min="0" max="100" [ngClass]="{'fieldError': table.get('taxOnExcess').touched && 
            table.controls['taxOnExcess'].errors?.required || table.controls['taxOnExcess'].errors?.min || table.controls['taxOnExcess'].errors?.max }">
        </div>
      </div>
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" (click)="closeModal()">Close</button>
  <button type="submit" *ngIf="!isActive" class="btn btn-success confirm-btn" (click)="proceed()" [disabled]="form?.invalid">Proceed</button>
  <button type="submit" *ngIf="isActive" class="btn btn-success confirm-btn" (click)="save()" [disabled]="table?.invalid">Save</button>
</div>
    