<nb-card>
	<nb-card-header>
		Approve Request
		<button class="close" aria-label="Close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</nb-card-header>
	<nb-card-body [nbSpinner]="sgs.loading" nbSpinnerStatus="success">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Material Name</th>
					<th scope="col">Qty</th>
					<th scope="col">Requested By</th>
					<th scope="col">Date Added</th>
					<th class="acenter">Option</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="data?.length < 1">
					<td colspan="7" class="acenter error">No Products Found</td>
				</tr>

				<tr *ngFor="let data of data; let i = index">
					<td scope="col">{{ i + 1 }}</td>
					<td scope="col">{{ data.material_name }}</td>
					<td scope="col">{{ data.qty }}</td>
					<td scope="col">{{ data.added_fname + ',' + data.added_mname + ',' + data.added_lname }}</td>
					<td scope="col">{{ data.date_added | reversedate | date }}</td>
					<td class="acenter">
						<a class="pointer" (click)="confirm(data)">
							<!-- <nb-icon icon="edit-2" style="color: rgb(0, 132, 255)"></nb-icon> -->
							<i class="fas fa-stamp stamp"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</nb-card-body>
	<nb-card-footer class="aright">
		<button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
	</nb-card-footer>
</nb-card>
