<nb-card>
<nb-card-header>
  Update Stocks
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
</button>
</nb-card-header>
<nb-card-body [nbSpinner]="sgs.loading" nbSpinnerStatus="success" [formGroup]="form">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="input-example">
        <mat-label>Material Name</mat-label>
        <input  matInput autocomplete="off" formControlName="material" readonly>
      </mat-form-field>
</div>

<div class="col-md-4" >
  <mat-form-field class="input-example">
    <mat-label>Lot</mat-label>
    <input type="number" matInput autocomplete="off" formControlName="lot">
  </mat-form-field>
</div>
  <div class="col-md-4" >
    <mat-form-field class="input-example">
      <mat-label>Qty</mat-label>
      <input matInput type="number" autocomplete="off" formControlName="qty" required min=0>
      <mat-error *ngIf="form.get('qty').touched && form.get('qty').invalid">Qty is required</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-12" class="note">
    <mat-form-field>
      <mat-label>NoteField</mat-label>
      <textarea matInput cols="30" rows="10" class="form-control" formControlName="noteField"
       >

      </textarea>
    </mat-form-field>

  </div>

  </div>
</nb-card-body>
<nb-card-footer class="aright">
  <button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
  &nbsp;
  <button nbButton matRipple hero status="primary" [disabled]="form?.invalid || sgs.submitting" (click)="sgs.submitting = true; update()">Save</button>
</nb-card-footer>
</nb-card>
