.mat-card {
    margin-top : 20px;
}
.mat-form-field{
    width: 100% !important;
}
.remove{
    float: right;
    color : #f25a85
}

.example-form-field {
 margin-bottom: -20px;
}
.example-card{
    background-color: #e6ecf5;
}