<nb-card>
    <nb-card-header>
        Request for broken items
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-3">
                <label>Truck Id : <b>{{truckDetails.id}}</b></label>
            </div>
            <div class="col-md-4">
                <label>Name / Truck model :<b> {{truckDetails.truckModel}} </b></label>

            </div>
            <div class="col-md-4">
                <label>Plate # : <b>{{truckDetails.plate}}</b></label>

            </div>
        </div>
        <hr>
        <mat-card *ngFor="let data of data; let i = index" class="example-card">
            <div class="row">
                <div class="col-md-3" >
                <mat-form-field class="example-form-field">
                 <mat-label>Item</mat-label>
                 <input matInput type="text" [value]="data.item" readonly>
                </mat-form-field>
               
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-form-field">
                    <mat-label>Status</mat-label>
                    <textarea matInput rows="1" [value]="data.status" [(ngModel)]="data.status"></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-form-field">
                    <mat-label>Comment</mat-label>
                        <textarea matInput rows="1" [value]="data.comment" [(ngModel)]="data.comment"></textarea>
                </mat-form-field>
            </div> 
            <div class="col-md-2">
                <mat-form-field class="example-form-field">
                    <mat-label>Qty</mat-label>
                    <input matInput type="number" [(ngModel)]="data.qty" > 
                </mat-form-field>
            </div>
            <div class="col-md-1">
              <nb-action icon="trash" class="remove" (click)="singleRemove(i)" nbPopover="Remove" nbPopoverTrigger="hint" nbPopoverPlacement="top"></nb-action>
            </div>
            </div>
         

        </mat-card>
    </nb-card-body>
<nb-card-footer>
    <div class="aright">
    <button  nbButton matRipple status="danger" (click)="closeModal()" >Close</button>&nbsp;
    <button  nbButton matRipple status="primary" (click)="saveRequest()" [disabled]="sgs.submitting || data.length  === 0">Save</button>

    </div>
    
</nb-card-footer>
</nb-card>