<div class="modal-header">
	Print Payslip
	<button class="close" aria-label="Close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body" [nbSpinner]="loading" nbSpinnerStatus="success">
	<div class="col-sm-12 payslip-container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<!-- <div class="col-sm-3"><img src="../../../assets/images/hmed_logo.png" class="hmed-logo" /> <br /></div>
          <div class="col-sm-9 acenter header">
            <h3>HMED ENTERPRISE</h3>
            {{ address.address1 }} <br />
            {{ address.address3 }} <br />
            {{ address.address4 }} <br />
            <h5>Pay Slip</h5>
          </div> -->
				</div>
				<div class="row">
					<div class="col-sm-2">Name</div>
					<div class="col-sm-4">{{ user?.lname + ', ' + user?.fname + ' ' + user?.mname }}</div>
					<div class="col-sm-2">Date Created</div>
					<div class="col-sm-4 aright">{{ summary?.dateCreated | reversedate | date: 'longDate' }}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">Employee ID</div>
					<div class="col-sm-4">{{ user?.uid }}</div>
					<div class="col-sm-2">Cut Off</div>
					<div class="col-sm-4 aright">{{ from | reversedate | date: 'mediumDate' }} - {{ to | reversedate | date: 'mediumDate' }}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">Designation</div>
					<div class="col-sm-4">{{ user?.role }}</div>

					<ng-container *ngIf="summary.isPrinted">
						<div class="col-sm-2">Date Printed</div>
						<div class="col-sm-4 aright">{{ summary.datePrinted | reversedate | date: 'longDate' }}</div>
					</ng-container>

					<ng-container *ngIf="!summary.isPrinted">
						<div class="col-sm-2">Date on Print</div>
						<div class="col-sm-4 aright">{{ date | date: 'longDate' }}</div>
					</ng-container>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table class="table">
							<thead>
								<tr>
									<th width="25%">Earnings</th>
									<th width="25%" class="aright">Amount</th>
									<th width="25%" class="bordered-left">Deductions</th>
									<th width="25%" class="aright">Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Basic Pay</td>
									<td class="aright">{{ summary.netPay | number: '1.2-2' }}</td>
									<td class="bordered-left">SSS</td>
									<td class="aright">{{ summary?.sss | number: '1.2-2' }}</td>
								</tr>
								<tr>
									<td colspan="2"></td>
									<td class="bordered-left">Philhealth</td>
									<td class="aright">{{ summary.philHealth | number: '1.2-2' }}</td>
								</tr>
								<tr>
									<td colspan="2"></td>
									<td class="bordered-left">Pag-ibig</td>
									<td class="aright">{{ summary?.pagIbig | number: '1.2-2' }}</td>
								</tr>
								<tr>
									<td colspan="2"></td>
									<td class="bordered-left">Witholding Tax</td>
									<td class="aright">{{ summary?.wTax | number: '1.2-2' }}</td>
								</tr>
								<tr>
									<td colspan="2"></td>
									<td class="bordered-left">Late</td>
									<td class="aright">{{ summary?.late * summary?.hourlyRate | number: '1.2-2' }}</td>
								</tr>
								<!-- <tr>
                  <td colspan="2"></td>
                  <td class="bordered-left">Loans</td>
                  <td class="aright">
                    <ng-container *ngIf="summary?.loans.length >= 1">{{ summary?.loans[0].amount | number: '1.2-2' }}</ng-container>
                    <ng-container *ngIf="summary?.loans.length <= 0">0.00</ng-container>
                  </td>
                </tr> -->
							</tbody>
							<tfoot>
								<tr>
									<td>Total Earnings</td>
									<td class="aright">{{ summary.netPay | number: '1.2-2' }}</td>
									<td class="bordered-left">Total Deductions</td>
									<td class="aright">{{ summary?.totalDeductions | number: '1.2-2' }}</td>
								</tr>
								<tr style="font-weight: 600">
									<td colspan="2"></td>
									<td>Net Pay</td>
									<td class="aright">{{ summary?.takeHomePay | number: '1.2-2' }}</td>
								</tr>
							</tfoot>
						</table>
						<div class="row" style="margin-top: 45px; margin-bottom: 35px">
							<div class="col-sm-1"></div>
							<div class="col-sm-4 acenter" style="border-top: 1px solid black">Employee's Signature</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-1"></div>
							<div class="col-sm-4 acenter" style="border-top: 1px solid black">Employer's Signature</div>
							<div class="col-sm-1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
	<button type="button" class="btn btn-primary" [disabled]="summary.isPrinted" (click)="printed()">Print</button>
</div>

<div style="display: none" id="print-section">
	<div class="col-sm-12 payslip-container">
		<div class="row">
			<div class="col-sm-12">
				<!-- <div class="row">
          <div class="col-sm-3"><img src="../../../assets/images/hmed_logo.png" class="hmed-logo" /><br /></div>
          <div class="col-sm-9 acenter header">
            <h3>HMED ENTERPRISE</h3>
            {{ address.address1 }} <br />
            {{ address.address3 }} <br />
            {{ address.address4 }} <br />
            <h5>Pay Slip</h5>
          </div>
        </div> -->
				<div class="row">
					<div class="col-sm-2">Name</div>
					<div class="col-sm-4">{{ user?.lname + ', ' + user?.fname + ' ' + user?.mname }}</div>
					<div class="col-sm-2">Date Created</div>
					<div class="col-sm-4 aright">{{ summary?.dateCreated | reversedate | date: 'longDate' }}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">Employee ID</div>
					<div class="col-sm-4">{{ user?.uid }}</div>
					<div class="col-sm-2">Cut Off</div>
					<div class="col-sm-4 aright">{{ from | reversedate | date: 'longDate' }} - {{ to | reversedate | date: 'longDate' }}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">Designation</div>
					<div class="col-sm-4">{{ user?.role }}</div>
					<div class="col-sm-2">Date Printed</div>
					<div class="col-sm-4 aright">{{ date | date: 'longDate' }}</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table class="table">
							<thead>
								<tr>
									<th width="25%">Earnings</th>
									<th width="25%" class="aright">Amount</th>
									<th width="25%" class="bordered-left">Deductions</th>
									<th width="25%" class="aright">Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Basic Pay</td>
									<td class="aright">{{ summary.netPay | number: '1.2-2' }}</td>
									<td class="bordered-left">SSS</td>
									<td class="aright">{{ summary?.sss | number: '1.2-2' }}</td>
								</tr>
								<tr>
									<td colspan="2"></td>
									<td class="bordered-left">Philhealth</td>
									<td class="aright">{{ summary.philHealth | number: '1.2-2' }}</td>
								</tr>
								<tr>
									<td colspan="2"></td>
									<td class="bordered-left">Pag-ibig</td>
									<td class="aright">{{ summary?.pagIbig | number: '1.2-2' }}</td>
								</tr>
								<tr>
									<td colspan="2"></td>
									<td class="bordered-left">Witholding Tax</td>
									<td class="aright">{{ summary?.wTax | number: '1.2-2' }}</td>
								</tr>
								<tr>
									<td colspan="2"></td>
									<td class="bordered-left">Loans</td>
									<!-- <td class="aright">
                    <ng-container *ngIf="summary?.loans.length >= 1">{{ summary?.loans[0].amount | number: '1.2-2' }}</ng-container>
                    <ng-container *ngIf="summary?.loans.length <= 0">0.00</ng-container>
                  </td> -->
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>Total Earnings</td>
									<td class="aright">{{ summary.netPay | number: '1.2-2' }}</td>
									<td class="bordered-left">Total Deductions</td>
									<td class="aright">{{ summary?.totalDeductions | number: '1.2-2' }}</td>
								</tr>
								<tr style="font-weight: 600">
									<td colspan="2"></td>
									<td>Net Pay</td>
									<td class="aright">{{ summary?.takeHomePay | number: '1.2-2' }}</td>
								</tr>
							</tfoot>
						</table>
						<div class="row" style="margin-top: 45px; margin-bottom: 35px">
							<div class="col-sm-1"></div>
							<div class="col-sm-4 acenter" style="border-top: 1px solid black">Employee's Signature</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-1"></div>
							<div class="col-sm-4 acenter" style="border-top: 1px solid black">Employer's Signature</div>
							<div class="col-sm-1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
