@import '../../@theme/styles/themes';
// @import '~@nebular/theme/styles/global/bootstrap/hero-buttons';
// @import '~bootstrap/scss/mixins/breakpoints';
// @import '~@nebular/theme/styles/global/bootstrap/breakpoints';

/deep/ .nb-theme-corporate nb-actions.medium nb-action i.control-icon {
    font-size: 20px;
    color: #494949;
}

.clear {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.badge{
    color: #fff;
}

.badge-default{
    background-color: gray;
    color: #fff;
}

.dateRangerPicker{
    width: 185px;
}

.noOut{
    color: red;
}

.zero{
  background: #7FFFD4;
  color: white;
  border-radius: 4px;
  padding: 4px;
  margin: 0px;
}
.rejected{
    background: #ff0000c4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
    cursor: pointer;
}
.pending{
    background: #ff8d00c4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
}
.medium{
    background: #0066ffc4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
}
.approved{
    background: #007925c4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
}
.overstocks{
    background: #79004ec4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
}
.tooMuchoverstocks{
    background: #79004ec4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
}

