<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
	<nb-card-header>
		<div>
			<div class="action-groups-header" style="float: left; clear: both">Employee Personal Profile</div>
			<nb-actions size="medium" style="float: right; font-size: 10px">
				<nb-action icon="edit-2-outline" [routerLink]="['../../employeeProfile/', data?._id]" tooltip="Click to update employee profile" placement="bottom"></nb-action>
				<nb-action>
					<div class="dropdown ghost-dropdown" ngbDropdown>
						<button class="btn btn-primary" type="button" ngbDropdownToggle>Export As &nbsp;&nbsp;&nbsp;</button>
						<ul class="dropdown-menu" ngbDropdownMenu>
							<li class="dropdown-item">PDF</li>
							<li class="dropdown-item">Microsoft Excel</li>
						</ul>
					</div>
				</nb-action>
				<nb-action icon="printer-outline" tooltip="Print" placement="bottom"></nb-action>
				<nb-action icon="close-circle-outline" (click)="sgs.back()" tooltip="Close" placement="bottom"></nb-action>
			</nb-actions>
		</div>
	</nb-card-header>
</nb-card>
<br />
<br />
<div class="col-sm-12 disableMessage" *ngIf="disableForm == true">
	<button class="btn btn-primary" [routerLink]="['/hr/employeeProfile/', data?._id]">Please update the employee information to continue.</button>
</div>
<div class="col-sm-12" [ngClass]="{ disableForm: disableForm == true }">
	<div class="row">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
						<nb-card-header> <i class="header-icons far fa-user-circle"></i> Personal Information </nb-card-header>
						<nb-card-body>
							<nb-user [name]="data?.lname + ', ' + data?.fname + ' ' + data?.mname" [title]="data?.role"></nb-user>
							<div class="clear"></div>
							<span class="title"
								>Employee ID: <span class="data">{{ profile?.uid }}</span></span
							><br />
							<span class="title"
								>Prefix: <span class="data">{{ profile?.prefix }}</span></span
							><br />
							<span class="title"
								>NickName: <span class="data">{{ profile?.nickName }}</span></span
							><br />
							<hr />
							<span class="title"
								>Date of birth: <span class="data">{{ profile?.dateOfBirth | date: 'longDate' }}</span></span
							><br />
							<span class="title"
								>Age: <span class="data">{{ profile?.age }} Years old</span></span
							><br />

							<span class="title"
								>Gender: <span class="data">{{ profile?.gender }} </span></span
							><br />
							<span class="title"
								>Marital Status: <span class="data">{{ profile?.maritalStatus }} </span></span
							><br />
						</nb-card-body>
					</nb-card>
				</div>
				<div class="col-sm-12">
					<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
						<nb-card-header> <i class="header-icons fas fa-info-circle"></i> Employment Information </nb-card-header>
						<nb-card-body>
							<span class="title"
								>Employment Type: <span class="data">{{ employment?.employmentType }} </span></span
							><br />
							<span class="title"
								>Position: <span class="data">{{ employment?.position }} </span></span
							><br />
							<span class="title"
								>Date Hired: <span class="data">{{ profile?.dateHired | date: 'longDate' }} </span></span
							><br />
							<span class="title"
								>Years of service: <span class="data">{{ profile?.yearsInService }} </span></span
							><br />
						</nb-card-body>
					</nb-card>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
						<nb-card-header> <i class="header-icons fas fa-phone"></i> Contact Information </nb-card-header>
						<nb-card-body>
							<span class="title"
								>Email Address: <span class="data">{{ data?.email }}</span></span
							><br />
							<span class="title"
								>Telephone: <span class="data">{{ profile?.telephone }}</span></span
							><br />
							<span class="title"
								>Mobile: <span class="data">{{ profile?.mobile }}</span></span
							><br />
						</nb-card-body>
					</nb-card>
				</div>
				<div class="col-sm-12">
					<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
						<nb-card-header> <i class="header-icons fas fa-map-marker-alt"></i> Address </nb-card-header>
						<nb-card-body>
							<span class="title"
								>Street Address: <span class="data">{{ profile?.streetAddress }}</span></span
							><br />
							<span class="title"
								>Unit Number: <span class="data">{{ profile?.unitNumber }}</span></span
							><br />
							<span class="title"
								>City: <span class="data">{{ profile?.city }}</span></span
							><br />
							<span class="title"
								>Province: <span class="data">{{ profile?.province }}</span></span
							><br />
							<span class="title"
								>Country: <span class="data">{{ profile?.country }}</span></span
							><br />
							<span class="title"
								>Zip Code: <span class="data">{{ profile?.zipCode }}</span></span
							><br />
						</nb-card-body>
					</nb-card>
				</div>
				<div class="col-sm-12">
					<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
						<nb-card-header> <i class="header-icons fas fa-graduation-cap"></i> Educational Background </nb-card-header>
						<nb-card-body>
							<div class="educational_container" *ngFor="let education of educational">
								<h6>Education: {{ education?.education }}</h6>
								<span class="title"
									>School: <span class="data">{{ education?.school }}</span></span
								><br />
								<span class="title"
									>Location: <span class="data">{{ education?.location }}</span></span
								><br />
								<span class="title"
									>School Year: <span class="data">{{ education?.schoolYear }}</span></span
								><br />
								<span class="title"
									>Course of study: <span class="data">{{ education?.courseOfStudy }}</span></span
								><br />
								<span class="title"
									>Degree: <span class="data">{{ education?.degree }}</span></span
								><br />
								<hr />
							</div>
						</nb-card-body>
					</nb-card>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
						<nb-card-header> <i class="header-icons fas fa-hospital-alt"></i> Emergency Contacts </nb-card-header>
						<nb-card-body>
							<span class="title"
								>Full Name: <span class="data">{{ primaryContacts?.lastName + ', ' + primaryContacts?.firstName }}</span></span
							><br />
							<span class="title"
								>Relationship: <span class="data">{{ primaryContacts?.relationship }}</span></span
							><br />
							<hr />
							<label> Contact Information </label><br />
							<span class="title"
								>Telephone: <span class="data">{{ primaryContacts?.telephone }}</span></span
							><br />
							<span class="title"
								>Mobile: <span class="data">{{ primaryContacts?.phoneNumber }}</span></span
							><br />
							<hr />
							<label> Address</label><br />
							<span class="title"
								>Street Address: <span class="data">{{ primaryContacts?.streetAddress }}</span></span
							><br />
							<span class="title"
								>Unit Number: <span class="data">{{ primaryContacts?.unitNumber }}</span></span
							><br />
							<span class="title"
								>City: <span class="data">{{ primaryContacts?.city }}</span></span
							><br />
						</nb-card-body>
					</nb-card>
				</div>
				<div class="col-sm-12">
					<nb-card>
						<nb-card-header> <i class="header-icons fas fa-hospital-alt"></i> Contributions Information </nb-card-header>
						<nb-card-body>
							<span class="title"
								>TIN: <span class="data">{{ profile?.tin }}</span></span
							><br />
							<span class="title"
								>SSS: <span class="data">{{ profile?.sss }}</span></span
							><br />
							<span class="title"
								>Phil-health: <span class="data">{{ profile?.philHealth }}</span></span
							><br />
							<span class="title"
								>Pag-Ibig: <span class="data">{{ profile?.pagIbig }}</span></span
							><br />
						</nb-card-body>
					</nb-card>
				</div>
			</div>
		</div>
	</div>
</div>
