<nb-card>
  <nb-card-header>
    Truck Maintenance
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <label>Odometer / Mileage : &nbsp; <b>{{ this.data.ordometer | number : '1.2-2' }}</b></label>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="input-example">
          <mat-label>New Odometer / Mileage:</mat-label>
          <input matInput autocomplete="off" [(ngModel)]="ordometer" type="number">
        </mat-form-field>
      </div>

    </div>
  </nb-card-body>
  <nb-card-footer class="aright">
    <button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
    &nbsp;
    <button nbButton matRipple hero status="primary" (click)="updateOrdometer()"
      [disabled]="ordometer == undefined || sgs.submitting">Update</button>


  </nb-card-footer>
</nb-card>
