<div class="row">
  <div class="col-sm-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
      <nb-card-header>
        <div>
          <div class="action-groups-header" style="float: left; clear: both">Employment Information</div>
          <nb-actions size="medium" style="float: right; font-size: 10px">
            <!-- <nb-action icon="fas fa-download" (click)="terminate(data?._id)" tooltip="Click to terminate/suspend this employee" placement="bottom"></nb-action> -->
            <!-- <nb-action icon="fas fa-upload" *ngIf="noData == false" (click)="promote(data?._id)" tooltip="Click to promote this employee" placement="bottom"></nb-action> -->
            <nb-action>
              <div class="dropdown ghost-dropdown" ngbDropdown>
                <button class="btn btn-primary" type="button" ngbDropdownToggle>Export As &nbsp;&nbsp;&nbsp;</button>
                <ul class="dropdown-menu" ngbDropdownMenu>
                  <li class="dropdown-item">PDF</li>
                  <li class="dropdown-item">Microsoft Excel</li>
                </ul>
              </div>
            </nb-action>
            <nb-action icon="printer-outline" tooltip="Print" placement="bottom"></nb-action>
            <nb-action icon="close-circle-outline" (click)="sgs.back()" tooltip="Close" placement="bottom"></nb-action>
          </nb-actions>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-4">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
      <nb-card-header> <i class="header-icons far fa-user-circle"></i> Personal Information </nb-card-header>
      <nb-card-body>
        <nb-user [name]="data?.lname + ', ' + data?.fname + ' ' + data?.mname" [title]="data?.role"></nb-user>
        <div class="clear"></div>
        <span class="title"
          >Employee ID: <span class="data">{{ profile?.uid }}</span></span
        ><br />
        <span class="title"
          >Prefix: <span class="data">{{ profile?.prefix }}</span></span
        ><br />
        <span class="title"
          >NickName: <span class="data">{{ profile?.nickName }}</span></span
        ><br />
        <hr />
        <span class="title"
          >Date of birth: <span class="data">{{ profile?.dateOfBirth | reversedate | date: 'longDate' }}</span></span
        ><br />
        <span class="title"
          >Age: <span class="data" *ngIf="profile?.age">{{ profile?.age }} Years old</span></span
        ><br />

        <span class="title"
          >Gender: <span class="data">{{ profile?.gender }} </span></span
        ><br />
        <span class="title"
          >Marital Status: <span class="data">{{ profile?.maritalStatus }} </span></span
        ><br />

        <hr />
        <i class="header-icons fas fa-info-circle"></i> Employment Information <br /><br />
        <span class="title"
          >Employment Type: <span class="data">{{ curEmployment?.employmentType }} </span></span
        ><br />
        <span class="title"
          >Position: <span class="data">{{ curEmployment?.position }} </span></span
        ><br />
        <span class="title"
          >Date Hired: <span class="data">{{ profile?.dateHired | date: 'longDate' }} </span></span
        ><br />
        <span class="title"
          >Years of service: <span class="data">{{ profile?.yearsInService }} </span></span
        ><br />
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-8">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
      <nb-card-header> Employment History </nb-card-header>
      <nb-card-body>
        <table class="table table-bordered" [mfData]="employment" #mf="mfDataTable" [mfRowsOnPage]="20" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th>Position</th>
              <th>Employment</th>
              <th>Monthly Rate</th>
              <th>Hourly Rate</th>
              <th>Promotion Date</th>
              <th>Effectivity</th>
              <th>Assign by</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="noData == true">
              <td colspan="7" class="acenter error">
                The employee has no employment information. <br /><br />
                <a [routerLink]="['/hr/employeeProfile/', data._id]" class="btn btn-primary">Add Employee Information</a>
              </td>
            </tr>
            <tr
              *ngFor="let employment of mf.data"
              [ngClass]="{
                suspension: employment?.employmentType == 'Suspension',
                terminate: employment?.employmentType == 'Terminate',
                unfit: employment?.employmentType == 'Unfit for position'
              }"
            >
              <ng-container *ngIf="employment?.employmentType == 'Par-time' || employment?.employmentType == 'Full-time' || employment?.employmentType == 'Trainee'">
                <td>{{ employment?.position }}</td>
                <td>{{ employment?.employmentType }}</td>
                <td>{{ employment?.monthlySalary | number: '.2-2' }}</td>
                <td>{{ employment?.hourlyRate | number: '.2-2' }}</td>
                <td>{{ employment?.dateOfPromotion | reversedate | date: 'shortDate' }}</td>
                <td>{{ employment?.effectivity | reversedate | date: 'shortDate' }}</td>
                <td>{{ data?.lname }}</td>
              </ng-container>
              <ng-container *ngIf="employment.employmentType == 'Suspension'">
                <td colspan="3">Status: Suspended</td>
                <td colspan="4">Effectivity: {{ employment?.dateOfPromotion | reversedate | date: 'shortDate' }} - {{ employment?.effectivity | date: 'shortDate' }}</td>
              </ng-container>
              <ng-container *ngIf="employment.employmentType == 'Terminate'">
                <td colspan="3">Status: Terminated</td>
                <td colspan="4">Effectivity: {{ employment?.dateOfPromotion | reversedate | date: 'shortDate' }}</td>
              </ng-container>
              <ng-container *ngIf="employment.employmentType == 'Unfit for position'">
                <td colspan="3">Status: Unfit For Position</td>
                <td colspan="4">Effectivity: {{ employment?.dateOfPromotion | reversedate | date: 'shortDate' }}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
