<form [formGroup]="form">
  <div class="modal-header">
    Add New Role
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>Role</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="data?.length < 1">
              <td colspan="7" class="acenter error">No Role Found</td>
            </tr>
            <tr *ngFor="let datas of data; let i = index">
              <td>{{ datas?.position | titlecase }}</td>
              <td class="align-middle text-center pointer">
                <div class="btn-group" dropdown placement="bottom right">
                  <i id="button-alignment" dropdownToggle class="fas fa-chevron-circle-down" aria-controls="dropdown-alignment"></i>
                  <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-alignment">
                    <li role="menuitem" class="dropdown-item pointer" (click)="update(datas)"><i class="fa fa-edit"> Update </i></li>
                    <li role="menuitem" class="dropdown-item pointer" (click)="deleteType(datas)"><i class="fa fa-trash"> Delete </i></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <mat-form-field class="input-example">
          <mat-label>Role Name: </mat-label>
          <input matInput autocomplete="off" formControlName="position" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
    <button type="submit" class="btn btn-primary" [disabled]="form?.invalid || sgs.submitting" (click)="sgs.submitting = true; addType(form)"><i class="far fa-address-card"></i> ADD</button>
  </div>
</form>
