<div class="modal-header">
	Update User Account
	<button class="close" aria-label="Close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form [formGroup]="form">
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-md-6" *ngIf="role !== 'admin' && role !== 'hr'">
						<ng-container>
							<mat-form-field>
								<mat-label>User Designation: </mat-label>
								<mat-select formControlName="role">
									<!-- <mat-option *ngIf="role === 'admin' " value="admin" >admin</mat-option> -->
									<mat-option value="{{ role }}">{{ role }}</mat-option>
								</mat-select>
								<mat-error *ngIf="form?.get('designation').touched && form.controls['designation'].errors?.required">Role is <strong>required </strong> </mat-error>
							</mat-form-field>
						</ng-container>
					</div>
					<ng-container *ngIf="role === 'admin' || role === 'hr'">
						<div class="col-sm-3">
							<mat-form-field>
								<mat-label>Role</mat-label>
								<mat-select formControlName="role" #type id="role" (selectionChange)="getPosition(type.value)">
									<mat-option style="color: red" value="admin">-Admin-</mat-option>
									<mat-option style="color: blue" value="hr">-Hr-</mat-option>
									<mat-option style="color: green" value="employee">-Employee-</mat-option>
								</mat-select>
								<mat-error *ngIf="form?.get('role').touched && form.controls['role'].errors?.required">Type is <strong>required </strong> </mat-error>
							</mat-form-field>
						</div>
						<div class="col-sm-3">
							<mat-form-field>
								<mat-label>Designation</mat-label>
								<mat-select [compareWith]="compareById" formControlName="designation" #type id="designation" (selectionChange)="getPosition(type.value)">
									<mat-option *ngFor="let type of allPosition" [value]="type?.position">{{ type?.position | titlecase }} </mat-option>
									<mat-option style="color: #0095ff" value="AddNewType">-Add New Position-</mat-option>
								</mat-select>
								<mat-error *ngIf="form?.get('designation').touched && form.controls['designation'].errors?.required">Type is Designation<strong>required </strong> </mat-error>
							</mat-form-field>
						</div>
					</ng-container>
					<div class="clear"></div>
					<div class="col-md-6">
						<mat-form-field class="input-example">
							<mat-label>Username: </mat-label>
							<input type="text" matInput autocomplete="off" formControlName="username" />
							<mat-error *ngIf="form?.get('username').touched && form.controls['username'].errors?.required">Username is <strong>required </strong> </mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="clear"></div>
				<div class="row">
					<div class="col-md-6">
						<div class="dropdown input-group-prepend input-group-btn" ngbDropdown>
							<mat-form-field class="input-example">
								<mat-label>Password : </mat-label>
								<input type="{{ showpassword ? 'text' : 'password' }}" matInput autocomplete="off" formControlName="password" />
							</mat-form-field>
							<button type="button" class="btn btn-primary" style="color: #000; height: 44px" (click)="showPassword()">
								<i [ngClass]="eyeIcon"></i>
							</button>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field class="input-example">
							<mat-label>Last Name: </mat-label>
							<input type="text" matInput autocomplete="off" formControlName="lname" />
							<mat-error *ngIf="form?.get('lname').touched && form.controls['lname'].errors?.required">Last Name is <strong>required </strong> </mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="clear"></div>
				<div class="row">
					<div class="col-md-6">
						<mat-form-field class="input-example">
							<mat-label>First Name: </mat-label>
							<input type="text" matInput autocomplete="off" formControlName="fname" />
							<mat-error *ngIf="form?.get('fname').touched && form.controls['fname'].errors?.required">First Name is <strong>required </strong> </mat-error>
						</mat-form-field>
					</div>
					<div class="col-md-6">
						<mat-form-field class="input-example">
							<mat-label>Middle Name: </mat-label>
							<input type="text" matInput autocomplete="off" formControlName="mname" />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="avatar-container">
					<div class="display-photo" *ngIf="avatar" [style.background-image]="'url(' + this.sgs.connection + '/avatars/' + avatar + ')'"></div>
					<input type="file" name="file" class="d-none" id="file" accept="image/x-png,image/gif,image/jpeg" />
					<button class="btn btn-primary browse-btn" (click)="openFile($event, 'file')">Change Profile Image</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" (click)="closeModal()">Close</button>
		<button type="submit" (click)="updateUser(form)" class="btn btn-primary" [disabled]="form?.invalid"><i class="fas fa-pencil-alt"></i> Update</button>
	</div>
</form>
