/deep/ .nb-theme-corporate nb-actions.medium nb-action i.control-icon {
  font-size: 20px;
  color: #494949;
}

.clear {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

.badge{
  color: #fff;
}

.employment_container {
  width: 90%;
  margin: 0 auto;
}

.fieldError{
  border: 2px solid #ff6b83;
}

.disabled {
  pointer-events: none;
  background: #f9f8f9;
}
.disabledLinks {
  opacity: 0.5;
  cursor: not-allowed;
}

i.clear {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-icons{
  color: #5DCFE3;
}


span.title{
  font-size: 9pt;
  color: #8e8e8e;
}
span.data {
  font-size: 10pt;
  color: #4b4b4b;
  margin-left: 5px;
}
.table.table.table-bordered{
  font-size: 12px;
}

.suspension{
  background-color: #b7b339;
  color: #fff;
}
.terminate{
  background-color: #e0883c;
  color: #fff;
}
.unfit{
  background-color: #f78282;
  color: #fff;
}
