<nb-card>
  <nb-card-header>
    Update Material Request
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
  </nb-card-header>
  <nb-card-body [nbSpinner]="sgs.loading" nbSpinnerStatus="success" [formGroup]="form">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-2">
          <input type="text" class="form-control" readonly
            placeholder="Select Material"  formControlName="material" required>
            <div class="input-group-append">
            <button class="btn btn-primary" (click)="selectMaterials()">
              Select
            </button>
          </div>
        </div>
        <mat-error *ngIf= "form.get('material').touched && form.controls['material'].errors?.required"><span class="matError">Material is required</span> </mat-error>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Qty</mat-label>
          <input formControlName="qty" type="number" autocomplete="off" matInput>
          <mat-error *ngIf="form.get('qty').touched && form.controls['qty'].errors?.required">Qty is required</mat-error>
        </mat-form-field>

      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="aright">
    <button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
    &nbsp;
    <button nbButton matRipple hero status="primary" [disabled]="form?.invalid || sgs.submitting" (click)="sgs.submitting = true; update()">Update</button>

  </nb-card-footer>
</nb-card>
