<!-- <nb-card>
  <nb-card-header>
    Update Required Field
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
      </button>
  </nb-card-header>
  <nb-card-body>
    <div class="panel panel-default">
      <div class="panel-heading" cardTitle="Stocks Information"><b>Fields:</b></div>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <label class="check_container">
            <input type="checkbox" (click)="addItem($event)" value="form">
            <span class="checkmark"></span>
          </label> &nbsp;
          <label for="">Basic Information </label>
          <br>
          <label class="check_container">
            <input type="checkbox" (click)="addItem($event)" value="emergency">
            <span class="checkmark"></span>
          </label> &nbsp;
          <label for="">Emergency Contact Information</label>
          <br>
          <label class="check_container">
            <input type="checkbox" (click)="addItem($event)" value="employment">
            <span class="checkmark"></span>
          </label> &nbsp;
          <label for="">Employment Information</label>
          <br>
          <label class="check_container">
            <input type="checkbox" (click)="addItem($event)" value="educationForm">
            <span class="checkmark"></span>
          </label> &nbsp;
          <label for="">Educational Background</label>
          <br>
          <label class="check_container">
            <input type="checkbox" (click)="addItem($event)" value="documentForm">
            <span class="checkmark"></span>
          </label> &nbsp;
          <label for="">Documents / ID's</label>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="aright">
    <button nbButton matRipple hero status= "danger" (click)="closeModal()">Close</button>
    &nbsp;
    <button nbButton matRipple hero status= "primary" (click)="update()">Save</button>
  </nb-card-footer>
</nb-card> -->
<nb-card>
  <nb-card-header>
    Update Required Field
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
      </button>
  </nb-card-header>
  <nb-card-body>
    <div class="panel panel-default">

      <div class="row">
        <div class="col-sm-12">
          <a (click)="viewBasicInfo()" class="pointer">
            <i [class]="basicIcon"></i>
            Basic Information
          </a>
          <br>
          <br>
            <div *ngIf="basicInfo == true">
              <div class="panel-heading" cardTitle="Stocks Information"><b>Personal Information:</b></div>
              <br>

              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)"  value="prefix">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Prefix </label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="firstname">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">First Name</label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="middlename">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Middle Name</label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="lastname">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Last Name</label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="nickname">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Nick Name</label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="gender">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Gender </label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="dateofbirth">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Date Of Birth</label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="maritalstatus">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Marital Status</label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="address">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Address</label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="barangay">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Barangay </label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="city">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">City</label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="province">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Province</label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="country">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Country</label>
              <br>
              <label class="check_container">
                <input type="checkbox" (click)="addItem($event)" value="zipcode">
                <span class="checkmark"></span>
              </label> &nbsp;
              <label for="">Zip Code</label>
              <br>
              <br>
              <div class="panel-heading" cardTitle="Stocks Information"><b>Contact Information:</b></div>
              <br>
                <label class="check_container">
                  <input type="checkbox" (click)="addItem($event)"  value="mobile">
                  <span class="checkmark"></span>
                </label> &nbsp;
                <label for="">Mobile Number </label>
                <br>
                <label class="check_container">
                  <input type="checkbox" (click)="addItem($event)" value="telephone">
                  <span class="checkmark"></span>
                </label> &nbsp;
                <label for="">telephone Number</label>
                <br>
                <label class="check_container">
                  <input type="checkbox" (click)="addItem($event)" value="email">
                  <span class="checkmark"></span>
                </label> &nbsp;
                <label for="">Email Address</label>
                <br>
                <br>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a (click)="viewContactInfo()" class="pointer">
            <i [class]="contactIcon"></i>
            Emergency Contact Information
          </a>
          <div *ngIf="contactInfo == true">
            <br>
            <label class="check_container">
              <input type="checkbox" (click)="addItem($event)"  value="emergencyFullname">
              <span class="checkmark"></span>
            </label> &nbsp;
            <label for="">Full Name </label>
            <br>
            <label class="check_container">
              <input type="checkbox" (click)="addItem($event)" value="emergencyAddress">
              <span class="checkmark"></span>
            </label> &nbsp;
            <label for="">Address</label>
            <br>
            <label class="check_container">
              <input type="checkbox" (click)="addItem($event)" value="emergencyMobile">
              <span class="checkmark"></span>
            </label> &nbsp;
            <label for="">Mobile Number</label>
            <br>
            <label class="check_container">
              <input type="checkbox" (click)="addItem($event)" value="emergencyTelephone">
              <span class="checkmark"></span>
            </label> &nbsp;
            <label for="">Telephone Number</label>
            <br> <label class="check_container">
              <input type="checkbox" (click)="addItem($event)" value="emergencyRelationship">
              <span class="checkmark"></span>
            </label> &nbsp;
            <label for="">Relationship</label>
            <br>
            <br>
          </div>
          </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <a (click)="employmentInfo()" class="pointer">
                <i [class]="employmentIcon"></i>
                Employment Information
              </a>
            <br>
              <div *ngIf="employementInfo == true">
                <br>
                <label class="check_container">
                  <input type="checkbox" (click)="addItem($event)"  value="datehired">
                  <span class="checkmark"></span>
                </label> &nbsp;
                <label for="">Date Hired </label>
                <br>
                <label class="check_container">
                  <input type="checkbox" (click)="addItem($event)"  value="position">
                  <span class="checkmark"></span>
                </label> &nbsp;
                <label for="">Position</label>
                <br>
                <label class="check_container">
                  <input type="checkbox" (click)="addItem($event)"  value="employmentType">
                  <span class="checkmark"></span>
                </label> &nbsp;
                <label for="">Employment Type</label>
                <br>
                <label class="check_container">
                  <input type="checkbox" (click)="addItem($event)"  value="monthlySalary">
                  <span class="checkmark"></span>
                </label> &nbsp;
                <label for="">Monthly Salary</label>
                <br>
                <label class="check_container">
                  <input type="checkbox" (click)="addItem($event)"  value="hourlyRate">
                  <span class="checkmark"></span>
                </label> &nbsp;
                <label for="">Hourly Rate</label>
                <br>
              </div>
            </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12">
                <a (click)="eduBackground()" class="pointer">
                  <i [class]="eduIcon"></i>
                  Educational Background
                </a>
              <br>
                <div *ngIf="educationBackground == true">

                  <br>
                  <label class="check_container">
                    <input type="checkbox" (click)="addItem($event)"  value="education">
                    <span class="checkmark"></span>
                  </label> &nbsp;
                  <label for="">Education </label>
                  <br>
                  <label class="check_container">
                    <input type="checkbox" (click)="addItem($event)"  value="schoolName">
                    <span class="checkmark"></span>
                  </label> &nbsp;
                  <label for="">School Name</label>
                  <br>
                  <label class="check_container">
                    <input type="checkbox" (click)="addItem($event)"  value="schoolYear">
                    <span class="checkmark"></span>
                  </label> &nbsp;
                  <label for="">School Year</label>
                  <br>
                </div>
              </div>
              </div>

              <br>
              <div class="row">
                <div class="col-sm-12">
                  <a (click)="documentsId()" class="pointer">
                    <i [class]="docuIcon"></i>
                    Documents / ID's
                  </a>
                <br>
                  <div *ngIf="documents == true">
                    <br>
                    <label class="check_container">
                      <input type="checkbox" (click)="addItem($event)"  value="typeOfIds">
                      <span class="checkmark"></span>
                    </label> &nbsp;
                    <label for="">Types of ID's </label>
                    <br>
                    <label class="check_container">
                      <input type="checkbox" (click)="addItem($event)"  value="dateReleased">
                      <span class="checkmark"></span>
                    </label> &nbsp;
                    <label for="">Date Released </label>
                    <br>
                    <label class="check_container">
                      <input type="checkbox" (click)="addItem($event)"  value="dateExpire">
                      <span class="checkmark"></span>
                    </label> &nbsp;
                    <label for="">Date Expire</label>
                    <br>
                  </div>
                </div>
                </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="aright">
    <button nbButton matRipple hero status= "danger" (click)="closeModal()">Close</button>
    &nbsp;
    <button nbButton matRipple hero status= "primary" (click)="update()">Save</button>
  </nb-card-footer>
</nb-card>
