<nb-card>
    <nb-card-header>
      Stocks Record
      <button class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
      </button>
  </nb-card-header>
  <nb-card-body [nbSpinner]="sgs.loading" nbSpinnerStatus="success">
    <table  class="table" [mfData]="data | dataFilter : filterQuery: selectQuery" #mf="mfDataTable" [mfRowsOnPage]="10"
    [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" >
    <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Reference #</th>
      <th scope="col">Added By</th>
      <th scope="col">Date Added</th>
      <th scope="col">Qty</th>
      <th scope="col">Option</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngIf="data?.length < 1">
      <td colspan="7" class="acenter error">No Products Found</td>

    </tr>

      <tr *ngFor="let data of mf.data; let i = index">
        <td scope="col">{{i+1}}</td>
        <td scope="col">{{data.lot}}</td>
        <td scope="col">{{data.added_fname + ',' +data.added_mname +','+data.added_lname}}</td>
        <td scope="col">{{(data.date_added | reversedate) | date}}</td>
        <td scope="col">{{data.qty}}</td>


        <td scope="col">
          <a class="pointer" (click)="delete(data._id)" nbPopover="Delete" nbPopoverTrigger="hint" nbPopoverPlacement="top">
            <nb-icon icon="trash-outline" style="color: #ff5e00"></nb-icon>
          </a>
          &nbsp;
          <a class="pointer" (click)="update(data)" nbPopover="Update" nbPopoverTrigger="hint" nbPopoverPlacement="top">
            <nb-icon icon="edit-2" style="color: rgb(0, 132, 255)"></nb-icon>
          </a>
        </td>
      </tr>
      <tr>
          <td colspan="12">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50,100]"></mfBootstrapPaginator>
            </td>
      </tr>
  </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer class="aright">
    <button  nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
  </nb-card-footer>
</nb-card>
