<div class="modal-header">
  Update Payroll
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [nbSpinner]="loading" nbSpinnerStatus="success">
  <form [formGroup]="form">
    <div class="row">
      <div class="employee-info-container">
        <div class="emp-no">
          <div class="header">Employee No</div>
          <div class="content">{{ profile?.id }}</div>
        </div>
        <div class="emp-name">
          <div class="header">Employee Name</div>
          <div class="content">{{ profile?.name }}</div>
        </div>
        <div class="process-date">
          <div class="header">Cut Off</div>
          <div class="content">{{ cutOffFrom | reversedate | date: 'shortDate' }} - {{ cutOffTo | reversedate | date: 'shortDate' }}</div>
        </div>
      </div>
    </div>
    <div class="row clear">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 acenter">
            <b>Summary</b>
          </div>
        </div>
        <div class="clear"></div>
        <div class="row">
          <div class="col-sm-6">
            <label>Total Hours:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <input type="text" class="form-control aright" formControlName="totalHours" [value]="form.get('totalHours').value" (keyup)="compute()" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Lates:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <div type="text" class="form-control aright">{{ form.get('late').value }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Hourly Rate:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <div type="text" class="form-control aright">{{ form.get('hourlyRate').value | number: '1.2-2' }}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Monthly Rate:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <div type="text" class="form-control aright">{{ form.get('monthlyRate').value | number: '1.2-2' }}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Gross Pay:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <div type="text" class="form-control aright" id="taxable">{{ form.get('taxable').value | number: '1.2-2' }}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Allowance:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <input type="number" class="form-control aright" id="allowance" formControlName="allowance" [value]="form.get('allowance').value" (keyup)="compute()" />
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 acenter">
            <label><b>Deductions</b></label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>SSS:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <input type="number" class="form-control aright" formControlName="sss" [value]="form.get('sss').value" (keyup)="compute()" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Philhealth:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <input type="number" class="form-control aright" formControlName="philHealth" [value]="form.get('philHealth').value" (keyup)="compute()" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Pag-ibig:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <input type="number" class="form-control aright" formControlName="pagIbig" [value]="form.get('pagIbig').value" (keyup)="compute()" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Late:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <!-- <input type="number" class="form-control aright" formControlName="late" [value]="form.get('late').value" (keyup)="compute()"> -->
            <div type="text" class="form-control aright">{{ form.get('late').value * form.get('hourlyRate').value | number: '.2-2' }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Witholding Tax:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <input type="number" class="form-control aright" formControlName="wTax" [value]="form.get('wTax').value" (keyup)="compute()" />
          </div>
        </div>

        <hr />
        <div class="row">
          <div class="col-sm-12">
            <label>Loans:</label>
          </div>
          <div class="col-sm-12">
            <div class="row" *ngFor="let loan of loans">
              <div class="col-sm-6">
                <label>Loan</label>
              </div>
              <div class="col-sm-6 input-group-sm"><input type="text" class="form-control aright" formControlName="loanAmount" [value]="loan.amount" /></div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-sm-6">
            <label>Total Deductions:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <div type="text" class="form-control aright" id="totalDeductions">{{ form.get('totalDeductions').value | number: '1.2-2' }}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Net Pay:</label>
          </div>
          <div class="col-sm-6 input-group-sm">
            <div type="text" class="form-control aright" id="takeHomePay">{{ form.get('takeHomePay').value | number: '1.2-2' }}</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
  <button type="button" class="btn btn-success confirm-btn" (click)="updatePayslip()">UPDATE</button>
</div>
