<div class="modal-header">
	Add Attendance To Employee
	<button class="close" aria-label="Close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form [formGroup]="form">
	<div class="modal-body">
		<div class="hr-theme-slash-2">
			<div class="hr-line"></div>
			<div class="hr-icon"><i class="material-icons">Time</i></div>
			<div class="hr-line"></div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="acenter">In</label>
					<timepicker [showSpinners]="false" formControlName="in"></timepicker>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="acenter">Out</label>
					<timepicker [showSpinners]="false" formControlName="out"></timepicker>
				</div>
			</div>
		</div>
		<div class="hr-theme-slash-2">
			<div class="hr-line"></div>
			<div class="hr-icon"><i class="material-icons">Lunch</i></div>
			<div class="hr-line"></div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="acenter">Start</label>
					<timepicker [showSpinners]="false" formControlName="lunchIn"></timepicker>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="acenter">End</label>
					<timepicker [showSpinners]="false" formControlName="lunchOut"></timepicker>
				</div>
			</div>
		</div>
		<div class="hr-theme-slash-2">
			<div class="hr-line"></div>
			<div class="hr-icon"><i class="material-icons">Break</i></div>
			<div class="hr-line"></div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="acenter">Start</label>
					<timepicker [showSpinners]="false" formControlName="breakIn"></timepicker>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="acenter">Finish</label>
					<timepicker [showSpinners]="false" formControlName="breakOut"></timepicker>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="botton" class="btn btn-danger" (click)="closeModal()">Close</button>
		<button class="btn btn-primary" (click)="submit()" [disabled]="form?.invalid">Submit</button>
	</div>
</form>

<!-- <div class="modal-header">
  Edit Attendance
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <label>Time-in</label>
        <timepicker [showSpinners]="false" formControlName="in"></timepicker>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col-sm-12">
        <label>Time-out</label>
        <timepicker [showSpinners]="false" formControlName="out"></timepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label>Lunch-in</label>
        <timepicker [showSpinners]="false" formControlName="lunchIn"></timepicker>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col-sm-12">
        <label>Lunch-out</label>
        <timepicker [showSpinners]="false" formControlName="lunchOut"></timepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label>Break-in</label>
        <timepicker [showSpinners]="false" formControlName="breakIn"></timepicker>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col-sm-12">
        <label>Break-out</label>
        <timepicker [showSpinners]="false" formControlName="breakOut"></timepicker>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="botton" class="btn btn-danger" (click)="closeModal()">Close</button>
    <button class="btn btn-primary" (click)="submit()" [disabled]="form?.invalid">Submit</button>
  </div>
</form> -->
