<div class="modal-header">
	New Payroll
	<button class="close" aria-label="Close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body" [nbSpinner]="loading" nbSpinnerStatus="success">
	<form [formGroup]="form" *ngIf="noEmployeeProfile == false">
		<div class="main-container">
			<div class="employee-info-container">
				<div class="emp-no">
					<div class="header">Employee No</div>
					<div class="content">{{ profile?.uid }}</div>
				</div>
				<div class="emp-name">
					<div class="header">Employee Name</div>
					<div class="content">{{ data?.lname + ', ' + data?.fname + ' ' + data?.mname }}</div>
				</div>
				<div class="process-date">
					<div class="header">Cut Off</div>
					<div class="content">{{ cutOffFrom | reversedate | date: 'shortDate' }} - {{ cutOffTo | reversedate | date: 'shortDate' }}</div>
				</div>
			</div>

			<div class="payments-container">
				<div class="payments-info">
					<div class="top">
						<div class="header">
							<div class="secA">Summary</div>
							<div class="secB">Amount</div>
						</div>
						<div class="content">
							<div class="secA">Total Hours</div>
							<div class="secB">{{ form.get('totalHours').value | number: '1.2-2' }}</div>
						</div>
						<div class="content">
							<div class="secA">Total OT</div>
							<div class="secB">{{ form.get('totalOT')?.value | number: '1.2-2' }}</div>
						</div>
						<div class="content">
							<div class="secA">Total Past OT</div>
							<div class="secB">{{ form.get('PastOT')?.value | number: '1.2-2' }}</div>
						</div>
						<div class="content">
							<div class="secA">Total Lates</div>
							<div class="secB">{{ form.get('totalLates')?.value | number: '1.2-2' }}</div>
						</div>

						<div class="content">
							<div class="secA">Hourly Rate</div>
							<div class="secB">{{ form.get('hourlyRate').value | number: '1.2-2' }}</div>
						</div>
						<div class="content">
							<div class="secA">Monthly Rate</div>
							<div class="secB">{{ form.get('monthlyRate').value | number: '1.2-2' }}</div>
						</div>
					</div>
					<div class="bottom">
						<div class="header">
							<div class="secA">Payments</div>
							<div class="secB">Amount</div>
						</div>
						<div class="content">
							<div class="secA">Gross</div>
							<div class="secB">{{ form.get('taxable').value | number: '1.2-2' }}</div>
						</div>
						<div class="payments-total">
							<div class="secC">TOTAL</div>
							<div class="secD">{{ form.get('taxable').value | number: '1.2-2' }}</div>
						</div>
					</div>
				</div>
				<div class="deductions-info">
					<div class="header">
						<div class="secA">Deductions</div>
						<div class="secB">Amount</div>
					</div>
					<div class="content">
						<div class="secA">SSS</div>
						<div class="secB">{{ form.get('sss').value | number: '1.2-2' }}</div>
					</div>

					<div class="content">
						<div class="secA">Pag-Ibig</div>
						<div class="secB">{{ form.get('pagIbig').value | number: '1.2-2' }}</div>
					</div>
					<div class="content">
						<div class="secA">Philheath</div>
						<div class="secB">{{ form.get('philHealth').value | number: '1.2-2' }}</div>
					</div>
					<div class="content">
						<div class="secA">Tax</div>
						<div class="secB">{{ form.get('creditabletax').value | number: '1.2-2' }}</div>
					</div>
					<!-- <div class="content">
            <div class="secA">Loans:</div>
            <div class="secB" *ngIf="loansList?.length <= 0">No Active Loans</div>
          </div> -->
					<!-- <div class="content">
						<div class="secA">Lates</div>
						<div class="secB">{{ form.get('lateDeduct')?.value || 0 | number: '1.2-2' }}</div>
					</div> -->
					<!-- <div class="content" *ngFor="let loan of loansList">
          <div class="secA">{{ loan?.loanType }}</div>
          <div class="secB">{{ loan?.principal | number: '1.2-2' }}</div>
        </div> -->
					<div class="deduction-total">
						<div class="secC">TOTAL</div>
						<div class="secD">{{ form.get('totalDeductions').value || 0 | number: '1.2-2' }}</div>
					</div>
				</div>
			</div>
			<div class="others-container">
				<div class="lates-container" *ngIf="latesInfo.length >= 1">
					<div class="header">
						<div class="secA">In</div>
						<div class="secB">Late (minutes)</div>
					</div>
					<div class="content" *ngFor="let late of latesInfo">
						<div class="secA">{{ late.time.in | reversedate | date: 'medium' }}</div>
						<div class="secB">{{ late.late | number: '1.2-2' }}</div>
					</div>
				</div>
				<div class="net-container">
					<div class="net-header">Net Pay</div>
					<div class="net-content">&#8369; {{ form.get('homePay').value || 0 | number: '1.2-2' }}</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
	<button type="button" class="btn btn-success confirm-btn" (click)="create()" *ngIf="noEmployeeProfile == false && btnStatus == true && status != 5" [disabled]="loading == true">SAVE</button>
</div>
