<nb-card>
  <nb-card-header>
 Update Employee Information
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
  </nb-card-header>
  <nb-card-body [nbSpinner]="sgs.loading" nbSpinnerStatus="success" [formGroup]="form">
    <div class="row">
      <div class="col-md-4">
        <button nbButton matRipple hero status="primary" (click)="updateEmpField()">Update Required Field</button>
      </div>
    </div>
      <br>
        <div class="row">
            <div class="col-md-3">
              <mat-form-field class="input-example"  *ngIf="prefix">
                <mat-label>Prefix:</mat-label>
                <mat-select  formControlName="prefix" required>
                  <mat-option value="Mr.">Mr.</mat-option>
                  <mat-option value="Ms.">Ms.</mat-option>
                  <mat-option value="Mrs.">Mrs.</mat-option>
                  <mat-option value="Dr.">Dr.</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('prefix').touched && form.controls['prefix'].errors?.required">Please select a Prefix</mat-error>
             </mat-form-field>
             <mat-form-field class="input-example"  *ngIf="!prefix">
              <mat-label class="name">Prefix: (optional)</mat-label>
              <mat-select  formControlName="prefix" >
                  <mat-option value="Mr.">Mr.</mat-option>
                  <mat-option value="Ms.">Ms.</mat-option>
                  <mat-option value="Mrs.">Mrs.</mat-option>
                  <mat-option value="Dr.">Dr.</mat-option>
              </mat-select>
           </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-example"  *ngIf="fname">
              <mat-label>First Name:
              </mat-label>
              <input matInput autocomplete="off" formControlName="fname" required>
              <mat-error  *ngIf="form?.get('fname').touched && form.controls['fname'].errors?.required ">First Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="input-example " *ngIf="!fname" >
              <mat-label ><span class="name" >First Name: (optional)</span></mat-label>
              <input matInput formControlName="fname" >
            </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-example"  *ngIf="mname">
            <mat-label>Middle Name:
            </mat-label>
            <input matInput autocomplete="off" formControlName="mname" required>
            <mat-error  *ngIf="form?.get('mname').touched && form.controls['mname'].errors?.required">Middle Name is required</mat-error>
          </mat-form-field>
          <mat-form-field class="input-example " *ngIf="!mname" >
            <mat-label ><span class="name" >Middle Name: (optional)</span></mat-label>
            <input matInput formControlName="mname" >
          </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="input-example"  *ngIf="lname">
          <mat-label>Last Name:
          </mat-label>
          <input matInput autocomplete="off" formControlName="lname" required>
          <mat-error  *ngIf="form?.get('lname').touched && form.controls['lname'].errors?.required ">Last Name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="input-example " *ngIf="!lname" >
          <mat-label ><span class="name" >Last Name: (optional)  </span></mat-label>
          <input matInput formControlName="lname" >
        </mat-form-field>
    </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="input-example"  *ngIf="nickName">
              <mat-label>Nickname:
              </mat-label>
              <input matInput autocomplete="off" formControlName="nickName" required>
              <mat-error  *ngIf="form?.get('nickName').touched && form.controls['nickName'].errors?.required ">Nickname is required</mat-error>
            </mat-form-field>
            <mat-form-field class="input-example " *ngIf="!nickName" >
              <mat-label ><span class="name" >Nickname: (optional)</span></mat-label>
              <input matInput formControlName="nickName" >
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-example"  *ngIf="gender">
              <mat-label>Gender:</mat-label>
              <mat-select  formControlName="gender" required>
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('gender').touched && form.controls['gender'].errors?.required ">Gender is required</mat-error>
           </mat-form-field>
           <mat-form-field class="input-example"  *ngIf="!gender">
            <mat-label class="name">Gender: (optional)</mat-label>
            <mat-select  formControlName="gender" >
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
            </mat-select>
         </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-example"  *ngIf="dateOfBirth">
              <mat-label>Date of birth:
              </mat-label>
              <input matInput autocomplete="off" formControlName="dateOfBirth" bsDatepicker required >
              <mat-error *ngIf="form.get('dateOfBirth').touched && form.controls['dateOfBirth'].errors?.required ">Date of birth is required</mat-error>
            </mat-form-field>
            <mat-form-field class="input-example"  *ngIf="!dateOfBirth">
              <mat-label class="name">Date of birth: (optional)
              </mat-label>
              <input matInput autocomplete="off" formControlName="dateOfBirth" bsDatepicker  >
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-example"  *ngIf="maritalStatus">
              <mat-label>Marital Status:</mat-label>
              <mat-select  formControlName="maritalStatus" required>
                <mat-option value="Single">Single</mat-option>
                <mat-option value="Married">Married</mat-option>
                <mat-option value="Widowed">Widowed</mat-option>
                <mat-option value="Divorced">Divorced</mat-option>
                <mat-option value="Separated">Separated</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('maritalStatus').touched && form.controls['maritalStatus'].errors?.required">Marital status is required</mat-error>
           </mat-form-field>
           <mat-form-field class="input-example"  *ngIf="!maritalStatus">
            <mat-label class="name">Marital Status: (optional)</mat-label>
            <mat-select  formControlName="maritalStatus" >
                <mat-option value="Single">Single</mat-option>
                <mat-option value="Married">Married</mat-option>
                <mat-option value="Widowed">Widowed</mat-option>
                <mat-option value="Divorced">Divorced</mat-option>
                <mat-option value="Separated">Separated</mat-option>
            </mat-select>
         </mat-form-field>
          </div>
        </div>
        <br>
      <div class="row">
        <div class="col-md-12 strong">
          Address
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-example"  *ngIf="streetAddress">
            <mat-label>Street address:
            </mat-label>
            <input matInput autocomplete="off" formControlName="streetAddress" required>
            <mat-error  *ngIf="form?.get('streetAddress').touched && form.controls['streetAddress'].errors?.required ">Street address is required</mat-error>
          </mat-form-field>
          <mat-form-field class="input-example " *ngIf="!streetAddress" >
            <mat-label ><span class="name" >Street address: (optional)</span></mat-label>
            <input matInput formControlName="streetAddress" >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-example">
            <mat-label>Apartment/Unit #: (optional)
            </mat-label>
            <input matInput autocomplete="off" formControlName="unitNumber">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-example"  *ngIf="barangay">
            <mat-label>Barangay:
            </mat-label>
            <input matInput autocomplete="off" formControlName="barangay" required>
            <mat-error  *ngIf="form?.get('barangay').touched && form.controls['barangay'].errors?.required">Barangay is required</mat-error>
          </mat-form-field>
          <mat-form-field class="input-example " *ngIf="!barangay" >
            <mat-label ><span class="name" >Barangay: (optional)</span></mat-label>
            <input matInput formControlName="barangay" >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-example"  *ngIf="city">
            <mat-label>City:
            </mat-label>
            <input matInput autocomplete="off" formControlName="city" required>
            <mat-error  *ngIf="form?.get('city').touched && form.controls['city'].errors?.required ">City is required</mat-error>
          </mat-form-field>
          <mat-form-field class="input-example " *ngIf="!city" >
            <mat-label ><span class="name" >City: (optional)</span></mat-label>
            <input matInput formControlName="city" >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="input-example"  *ngIf="province">
            <mat-label>Province:
            </mat-label>
            <input matInput autocomplete="off" formControlName="province" required>
            <mat-error  *ngIf="form?.get('province').touched && form.controls['province'].errors?.required ">Province is required</mat-error>
          </mat-form-field>
          <mat-form-field class="input-example " *ngIf="!province" >
            <mat-label ><span class="name" >Province: (optional)</span></mat-label>
            <input matInput formControlName="province" >
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="input-example"  *ngIf="country">
            <mat-label>Country:
            </mat-label>
            <input matInput autocomplete="off" formControlName="country" required>
            <mat-error  *ngIf="form?.get('country').touched && form.controls['country'].errors?.required">Country is required</mat-error>
          </mat-form-field>
          <mat-form-field class="input-example " *ngIf="!country" >
            <mat-label ><span class="name" >Country: (optional)</span></mat-label>
            <input matInput formControlName="country" >
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="input-example"  *ngIf="zipCode">
            <mat-label>Zipcode:
            </mat-label>
            <input type="number" matInput autocomplete="off" formControlName="zipCode" required>
            <mat-error  *ngIf="form?.get('zipCode').touched && form.controls['zipCode'].errors?.required ">Zipcode is required</mat-error>
          </mat-form-field>
          <mat-form-field class="input-example " *ngIf="!zipCode" >
            <mat-label ><span class="name" >Zipcode: (optional)</span></mat-label>
            <input type="number" matInput formControlName="zipCode" >
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 strong">
          Contact Information
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-example"  *ngIf="mobile">
            <mat-label ><span class="name" >Mobile number:</span></mat-label>
            <input type="number" matInput formControlName="mobile" required>
            <mat-error  *ngIf="form?.get('mobile').touched && form.controls['mobile'].errors?.required ">Mobile number is required</mat-error>
          </mat-form-field>
          <mat-form-field class="input-example"  *ngIf="!mobile">
            <mat-label ><span class="name">Mobile number: (optional)</span></mat-label>
            <input type="number" matInput formControlName="mobile" >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-example "  *ngIf="telephone">
            <mat-label ><span class="name">Telephone number:</span></mat-label>
            <input type="number" matInput formControlName="telephone" required>
            <mat-error  *ngIf="form?.get('telephone').touched && form.controls['telephone'].errors?.required ">Telephone number is required</mat-error>
          </mat-form-field>
          <mat-form-field class="input-example "  *ngIf="!telephone">
            <mat-label ><span >Telephone number: (optional)</span></mat-label>
            <input type="number" matInput formControlName="telephone" >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-example" *ngIf="email">
            <mat-label ><span  class="name">Email address:</span></mat-label>
            <input type="email" matInput formControlName="email" required>
            <mat-error  *ngIf="form?.get('email').touched && form.controls['email'].errors?.required ">Email is required</mat-error>
          </mat-form-field>
          <mat-form-field class="input-example" *ngIf="!email">
            <mat-label ><span >Email address: (optional)</span></mat-label>
            <input type="email" matInput formControlName="email" >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <a (click)="viewEmergency()" class="pointer">
          <i [class]="emergencyIcon"></i>
          Emergency Contact Information
        </a>
      </div>
      <div  class="emergency_container" *ngIf="showEmergencyInfo == true">
          <div class="row">
            <div class="col-md-6" formGroupName="emergencyContact">
              <mat-form-field class="input-example"  *ngIf="fullName">
                <mat-label>Full Name (Last Name, First Name, Middle Initial):
                </mat-label>
                <input  matInput autocomplete="off" formControlName="fullName" required>
              <mat-error *ngIf="form.get('emergencyContact.fullName').touched && form.get('emergencyContact.fullName').invalid">Full name is required</mat-error>
              </mat-form-field>
              <mat-form-field class="input-example " *ngIf="!fullName" >
                <mat-label ><span class="name" >Full Name (Last Name, First Name, Middle Initial): (optional)</span></mat-label>
                <input  matInput formControlName="fullName" >
              </mat-form-field>
            </div>
            <div class="col-md-6" formGroupName="emergencyContact">
              <mat-form-field class="input-example"  *ngIf="emergencyAddress">
                <mat-label>Address (Zone, Barangay, City, Province):
                </mat-label>
                <input matInput autocomplete="off" formControlName="address" required>
              <mat-error *ngIf="form.get('emergencyContact.address').touched && form.get('emergencyContact.address').invalid">Emergency address is required</mat-error>
              </mat-form-field>
              <mat-form-field class="input-example " *ngIf="!emergencyAddress" >
                <mat-label ><span class="name" >Address (Zone, Barangay, City, Province): (optional)</span></mat-label>
                <input matInput formControlName="address" >
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4" formGroupName="emergencyContact">
              <mat-form-field class="input-example" *ngIf="emergencyMobile" >
                <mat-label > Mobile number:</mat-label>
                <input matInput formControlName="mobile" required>
              <mat-error *ngIf="form.get('emergencyContact.mobile').touched && form.get('emergencyContact.mobile').invalid">Mobile number is required</mat-error>
              </mat-form-field>
              <mat-form-field class="input-example" *ngIf="!emergencyMobile">
                <mat-label ><span class="name" >Mobile number: (optional)</span></mat-label>
                <input matInput formControlName="mobile" >
              </mat-form-field>
            </div>
            <div class="col-md-4" formGroupName="emergencyContact">
              <mat-form-field class="input-example" *ngIf="emergencyTelephone" >
                <mat-label >Telephone number:</mat-label>
                <input matInput formControlName="telephone" required>
              <mat-error *ngIf="form.get('emergencyContact.telephone').touched && form.get('emergencyContact.telephone').invalid">Telephone number is required</mat-error>
              </mat-form-field>
              <mat-form-field class="input-example" *ngIf="!emergencyTelephone">
                <mat-label ><span class="name" >Telephone number: (optional)</span></mat-label>
                <input matInput formControlName="telephone" >
              </mat-form-field>
            </div>
            <div class="col-md-3" formGroupName="emergencyContact" >
              <mat-form-field class="input-example" *ngIf="emergencyRelationship">
                <mat-label >Relationship :</mat-label>
                <input matInput formControlName="relationship" required>
              <mat-error *ngIf="form.get('emergencyContact.relationship').touched && form.get('emergencyContact.relationship').invalid">Relationship is required</mat-error>
              </mat-form-field>
              <mat-form-field class="input-example" *ngIf="!emergencyRelationship">
                <mat-label ><span class="name" >Relationship: (optional)</span></mat-label>
                <input matInput formControlName="relationship" >
              </mat-form-field>

            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-primary btn-educational"
              (click)="addEmergencyContact(form.value.emergencyContact)" [disabled]="form.get('emergencyContact.fullName').value == '' ||
              form.get('emergencyContact.address').value == '' "><i
                class="fas fa-plus-square"></i></button>
          </div>
          </div>


        <div class="clear"></div>
        <div class="col-md-12" *ngIf="emergencyContact?.length >= 1">
          <hr>
          <table class="table table-bordered">
            <thead>
            <tr>
            <th class="aleft">Full Name</th>
            <th class="aleft">Address</th>
            <th class="aleft">Mobile</th>
            <th class="aleft">Telephone</th>
            <th class="aleft">relationship</th>
            <th class="aleft">Option</th>
          </tr>
            </thead>
            <tbody *ngFor= "let em of emergencyContact; let i = index">
              <td>{{ em?.fullName }}</td>
              <td>{{ em?.address }}</td>
              <td>{{ em?.mobile }}</td>
              <td>{{ em?.telephone }}</td>
              <td>{{ em?.relationship }}</td>
              <td class="aleft">
                <i class="fas fa-pencil-alt pointer" (click)="editContact(em, i)"></i>&nbsp;
                <i class="fas fa-trash-alt pointer" (click)="removeContact(em._id, i)"></i>
              </td>
            </tbody>
            </table>
        </div>
        </div>
        <div class="row">
          <a (click)="viewEmployment()" class="pointer">
            <i [class]="employmentIcon"></i>
            Employment Information
          </a>
        </div>
        <div  class="emergency_container" *ngIf="showEmploymentInfo == true" >
          <div class="row">
            <div class="col-md-4" formGroupName="employmentDetails">
              <mat-form-field class="input-example"  *ngIf="dateHired">
                <mat-label>Date hired:
                </mat-label>
                <input  matInput autocomplete="off" formControlName="dateHired" bsDatepicker required placement="top">
              <mat-error *ngIf="form.get('employmentDetails.dateHired').touched && form.get('employmentDetails.dateHired').invalid">Date hired is required</mat-error>
              </mat-form-field>
              <mat-form-field class="input-example " *ngIf="!dateHired" >
                <mat-label ><span class="name" >Date hired: (optional)</span></mat-label>
                <input  matInput formControlName="dateHired" bsDatepicker placement="top">
              </mat-form-field>
            </div>
            <div class="col-md-4" formGroupName="employmentDetails">
              <mat-form-field class="input-example"  *ngIf="position">
                <mat-label>Position:</mat-label>
                <mat-select  formControlName="position" required>
                    <mat-option *ngFor="let position of positions" [value]="position.position">{{ position.position }}</mat-option>
                </mat-select>
              <mat-error *ngIf="form.get('employmentDetails.position').touched && form.get('employmentDetails.position').invalid">Position is required</mat-error>
             </mat-form-field>
             <mat-form-field class="input-example"  *ngIf="!position">
              <mat-label>Position: (optional)</mat-label>
              <mat-select  formControlName="position">
                  <mat-option *ngFor="let position of positions" [value]="position.position">{{ position.position }}</mat-option>
              </mat-select>
           </mat-form-field>
            </div>
            <div class="col-md-4"  formGroupName="employmentDetails">
              <mat-form-field class="input-example"  *ngIf="employmentType">
                <mat-label>Employment type:</mat-label>
                <mat-select  formControlName="employmentType" required>
                  <mat-option value="Full-time">Full-time</mat-option>
                  <mat-option value="Part-time">Part-time</mat-option>
                  <mat-option value="Trainee">Trainee</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('employmentDetails.employmentType').touched && form.get('employmentDetails.employmentType').invalid ">Employment type is required</mat-error>
             </mat-form-field>
             <mat-form-field class="input-example"  *ngIf="!employmentType">
              <mat-label>Employment type: (optional)</mat-label>
              <mat-select  formControlName="employmentType">
                  <mat-option value="Full-time">Full-time</mat-option>
                  <mat-option value="Part-time">Part-time</mat-option>
                  <mat-option value="Trainee">Trainee</mat-option>
              </mat-select>
           </mat-form-field>

             </div>
          </div>
          <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-4"  formGroupName="employmentDetails">
              <mat-form-field class="input-example"  *ngIf="monthlySalary">
                <mat-label>Monthly salary:
                </mat-label>
                <input type="number" matInput autocomplete="off" formControlName="monthlySalary" required>
              <mat-error *ngIf="form.get('employmentDetails.monthlySalary').touched && form.get('employmentDetails.monthlySalary').invalid">Monthly salary is required</mat-error>
              </mat-form-field>
              <mat-form-field class="input-example " *ngIf="!monthlySalary" >
                <mat-label ><span class="name" >Monthly salary: (optional)</span></mat-label>
                <input type="number" matInput formControlName="monthlySalary" >
              </mat-form-field>
            </div>
            <div class="col-md-4"  formGroupName="employmentDetails">
              <mat-form-field class="input-example"  *ngIf="hourlyRate">
                <mat-label>Hourly rate:
                </mat-label>
                <input type="number" matInput autocomplete="off" formControlName="hourlyRate" required>
              <mat-error *ngIf="form.get('employmentDetails.hourlyRate').touched && form.get('employmentDetails.hourlyRate').invalid">Hourly rate is required</mat-error>
              </mat-form-field>
              <mat-form-field class="input-example " *ngIf="!hourlyRate" >
                <mat-label ><span class="name" >Hourly rate: (optional)</span></mat-label>
                <input type="number" matInput formControlName="hourlyRate" >
              </mat-form-field>
            </div>
          </div>
          </div>
          <div class="row">
            <a (click)="viewEducationalBackground()" class="pointer">
              <i [class]="educationalIcon"></i>
              Educational Background
            </a>
          </div>
          <div  class="emergency_container" *ngIf="showEducationalInfo == true" >
            <div class="row">
              <div class="col-md-4" formGroupName="educationDetails">
                <mat-form-field class="input-example"  *ngIf="education">
                  <mat-label>Education :</mat-label>
                  <mat-select  formControlName="education" required>
                    <mat-option value="Elementary">Elementary</mat-option>
                    <mat-option value="High School">High School</mat-option>
                    <mat-option value="Vocational">Vocational</mat-option>
                    <mat-option value="Bachelor's Level">Bachelor's Level</mat-option>
                    <mat-option value="Masters Level">Masters Level</mat-option>
                    <mat-option value="Doctoral Level">Doctoral Level</mat-option>

                  </mat-select>
                  <mat-error *ngIf="form.get('educationDetails.education').touched && form.get('educationDetails.education').invalid ">Education is required</mat-error>
               </mat-form-field>
               <mat-form-field class="input-example"  *ngIf="!education">
                <mat-label>Education : (optional)</mat-label>
                <mat-select  formControlName="education" required>
                    <mat-option value="Elementary">Elementary</mat-option>
                    <mat-option value="High School">High School</mat-option>
                    <mat-option value="Vocational">Vocational</mat-option>
                    <mat-option value="Bachelor's Level">Bachelor's Level</mat-option>
                    <mat-option value="Masters Level">Masters Level</mat-option>
                    <mat-option value="Doctoral Level">Doctoral Level</mat-option>
                </mat-select>
             </mat-form-field>
              </div>
              <div class="col-md-4"  formGroupName="educationDetails">
                <mat-form-field class="input-example"  *ngIf="school">
                  <mat-label>School name:
                  </mat-label>
                  <input matInput autocomplete="off" formControlName="school" required>
                <mat-error *ngIf="form.get('educationDetails.school').touched && form.get('educationDetails.school').invalid">School name is required</mat-error>
                </mat-form-field>
                <mat-form-field class="input-example " *ngIf="!school" >
                  <mat-label ><span class="name" >School name: (optional)</span></mat-label>
                  <input matInput formControlName="school" >
                </mat-form-field>
              </div>
              <div class="col-md-4"  formGroupName="educationDetails">
                <mat-form-field class="input-example " >
                  <mat-label ><span class="name" >Location: (optional)</span></mat-label>
                  <input matInput formControlName="location" >
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"  formGroupName="educationDetails">
                <mat-form-field class="input-example"  *ngIf="schoolYear">
                  <mat-label>School year:
                  </mat-label>
                  <input matInput autocomplete="off" formControlName="schoolYear" required>
                <mat-error *ngIf="form.get('educationDetails.schoolYear').touched && form.get('educationDetails.schoolYear').invalid">School year is required</mat-error>
                </mat-form-field>
                <mat-form-field class="input-example " *ngIf="!schoolYear" >
                  <mat-label ><span class="name" >School year: (optional)</span></mat-label>
                  <input matInput formControlName="schoolYear" >
                </mat-form-field>
              </div>
              <div class="col-md-4"  formGroupName="educationDetails">
                <mat-form-field class="input-example" [ngClass]="{'disabled': form.get('educationDetails.education').value == 'Elementary' || form.get('educationDetails.education').value == 'High School'}">
                  <mat-label>Course of study:
                  </mat-label>
                  <input matInput autocomplete="off" formControlName="courseOfStudy" >
                </mat-form-field>
                </div>
                <div class="col-md-4"  formGroupName="educationDetails">
                  <mat-form-field class="input-example" [ngClass]="{'disabled': form.get('educationDetails.education').value == 'Elementary' || form.get('educationDetails.education').value == 'High School'}">
                    <mat-label>Degree:
                    </mat-label>
                    <input matInput autocomplete="off" formControlName="degree" >
                  </mat-form-field>
                  </div>
                  <div class="col-sm-1">
                    <button type="button" class="btn btn-primary btn-educational"
                      (click)="addEducationalBackground(form.value.educationDetails)" [disabled]="form.get('educationDetails.education').value == '' ||
                      form.get('educationDetails.school').value == '' || form.get('educationDetails.schoolYear').value == ''"><i
                        class="fas fa-plus-square"></i></button>
                  </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-12" *ngIf="edu?.length >= 1">
              <hr>
              <table class="table table-bordered">
                <thead>
                <tr>
                <th class="aleft">Education</th>
                <th class="aleft">School Name</th>
                <th class="aleft">Location</th>
                <th class="aleft">School Year</th>
                <th class="aleft">Course of study</th>
                <th class="aleft">Degree</th>
                <th class="aleft">Options</th>
              </tr>
                </thead>
                <tbody *ngFor= "let educational of edu; let i = index">
                  <td>{{ educational?.education }}</td>
                  <td>{{ educational?.school }}</td>
                  <td>{{ educational?.location }}</td>
                  <td>{{ educational?.schoolYear }}</td>
                  <td>{{ educational?.courseOfStudy }}</td>
                  <td>{{ educational?.degree }}</td>
                  <td class="aleft">
                    <i class="fas fa-pencil-alt pointer" (click)="editEduc(educational,  i)"></i>&nbsp;
                    <i class="fas fa-trash-alt pointer" (click)="removeEduc(educational._id, i)"></i>
                  </td>
                </tbody>
                </table>
            </div>
          </div>
          <div class="row">
            <a (click)="viewDocuments()" class="pointer">
              <i [class]="documentIcon"></i>
              Documents / ID's
            </a>
          </div>
          <div  class="emergency_container" *ngIf="showDocumentInfo == true" >
            <div class="row">
              <div class="col-md-3" formGroupName="documentDetails">
                <mat-form-field class="input-example"  *ngIf="idName">
                  <mat-label>Type of ID's: </mat-label>
                  <mat-select  formControlName="idName" required>
                      <mat-option value="Driver's License">Driver's License</mat-option>
                      <mat-option value="SSS ID">SSS ID</mat-option>
                      <mat-option value="Philhealth">Philhealth</mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.get('documentDetails.idName').touched && form.get('documentDetails.idName').invalid ">Type of ID's is required</mat-error>
               </mat-form-field>
               <mat-form-field class="input-example"  *ngIf="!idName">
                <mat-label>Type of ID's: (optional)</mat-label>
                <mat-select  formControlName="idName" >
                    <mat-option value="Driver's License">Driver's License</mat-option>
                    <mat-option value="SSS ID">SSS ID</mat-option>
                    <mat-option value="Philhealth">Philhealth</mat-option>
                    <mat-option value="Pag-Ibig">Pag-Ibig ID</mat-option>
                    <mat-option value="Tin">Tin ID</mat-option>
                </mat-select>
             </mat-form-field>
              </div>
              <div class="col-md-4" formGroupName="documentDetails">
                <mat-form-field class="input-example"  *ngIf="dateReleased" >
                  <mat-label>Date released:
                  </mat-label>
                  <input  matInput autocomplete="off" formControlName="dateReleased" bsDatepicker required placement="top">
                <mat-error *ngIf="form.get('documentDetails.dateReleased').touched && form.get('documentDetails.dateReleased').invalid">Date released is required</mat-error>
                </mat-form-field>
                <mat-form-field class="input-example " *ngIf="!dateReleased" >
                  <mat-label ><span class="name" >Date released: (optional)</span></mat-label>
                  <input  matInput formControlName="dateReleased" bsDatepicker placement="top">
                </mat-form-field>
              </div>
              <div class="col-md-4" formGroupName="documentDetails">
                <mat-form-field class="input-example"  *ngIf="dateExpire">
                  <mat-label>Date expire:
                  </mat-label>
                  <input  matInput autocomplete="off" formControlName="dateExpire" bsDatepicker required placement="top">
                <mat-error *ngIf="form.get('documentDetails.dateExpire').touched && form.get('documentDetails.dateExpire').invalid">Date expire is required</mat-error>
                </mat-form-field>
                <mat-form-field class="input-example " *ngIf="!dateExpire" >
                  <mat-label ><span class="name" >Date expire: (optional)</span></mat-label>
                  <input  matInput formControlName="dateExpire" bsDatepicker placement="top">
                </mat-form-field>
              </div>
              </div>
              <div class="clear"></div>
              <div class="row">
                <div class="col-md-2">
                  <mat-label>Add image</mat-label>
                  <div class="example-button-row">
                    <button mat-raised-button color="primary" title="Upload document."  (click)="openFile($event, 'file')">
                      <i class="fas fa-file-upload"></i>
                      &nbsp;
                      Upload</button>
                      <input type="file" name="file" class="d-none" id="file" accept="image/x-png,image/gif,image/jpeg">
                  </div>
                </div>
                <div class="col-md-4 image"  *ngIf="imageInfo != undefined">
                  <img id='image-source' [src]="imageInfo.link | assets: 'empDocuments':'html'">&nbsp;
                  <button title="Remove this image." nbButton size="tiny" status="danger"
                    (click)="removeImage(imageInfo.link)"><a class="far fa-trash-alt pointer">&nbsp;Remove</a></button>
                </div>
                <div class="col-md-1">
                  <button type="button" title="Add this document." class="btn btn-primary btn-educational"
                    (click)="addDocBackground(form)" [disabled]="imageInfo == undefined"><i
                      class="fas fa-plus-square"></i></button>
                </div>

                <div class="col-md-2"></div>
                <div class="col-md-3">
                <button nbButton matRipple hero status="primary" class="btn-save" (click)="save(form.value.documentDetails)"
                [disabled]="form.get('documentDetails.idName').value == '' ||form.get('documentDetails.dateReleased').value == ''|| form.get('documentDetails.dateExpire').value == '' "
                >ADD</button>
                </div>
              </div>
              <div class="clear"></div>
              <div class="col-md-12" *ngIf="data.files?.length >= 1" style="font-weight: 600">
                <hr>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <td>Type of ID's</td>
                    <td>Date released</td>
                    <td>Expiration date</td>
                    <td>File's</td>
                    <td>Options</td>
                  </tr>

                    </thead>
                    <tbody>
                  <tr *ngFor="let array of data.files; let i = index">
                    <td>{{array.idName}}</td>
                    <td>{{array.dateReleased | date : 'longDate'}}</td>
                    <td>{{array.dateExpire | date : 'longDate'}}</td>
                    <td>{{array.image.length}}</td>
                    <td class="aleft">
                      <i class="fas fa-pencil-alt pointer" (click)="editDoc(array, i)"  title="Edit this Document" ></i>&nbsp;
                      <i class="fas fa-trash-alt pointer" (click)="removeId(array.fileId  , i)"  title="Remove this Document."></i>&nbsp;
                      <i  class="far fa-eye pointer" (click)="view(array.image, array.fileId)"  title="View Image."></i>

                    </td>

                  </tr>
                    </tbody>
                    </table>
                    </div>
              </div>

  </nb-card-body>
  <nb-card-footer class="aright">
    <button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
    &nbsp;
    <button nbButton matRipple hero status="primary" (click)="sgs.submitting = true; updateEmployee()">Save</button>

  </nb-card-footer>
</nb-card>
