<nb-card>
  <nb-card-header>
    Add Request
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
  </nb-card-header >

  <nb-card-body [nbSpinner]="sgs.loading" nbSpinnerStatus="success" >
    <form #f="ngForm" novalidate>
          <div class="row">
      <div class="col-md-12">
        <div class="input-group mb-2">
          <input type="text" class="form-control" readonly
            placeholder="Select Truck"  [(ngModel)] = "request.truckName" name = "truckName" #truckName="ngModel" required>
            <div class="input-group-append">
            <button class="btn btn-primary" (click)="select_truck()">
              Select
            </button>
          </div>
        </div>
        <mat-error *ngIf="truckName.touched && truckName.errors?.required "><span class="matError">Truck is required</span> </mat-error>

      </div>
    </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <button nbButton matRipple hero status="primary" (click)="select_materials()">Select Material's</button>
        </div>
      </div>
      <br>
      <table  class="table" [mfData]="data | dataFilter : filterQuery: selectQuery" #mf="mfDataTable" [mfRowsOnPage]="10"
      [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" >
      <thead>
        <tr>
        <th scope="col" width="10%">#</th>
        <th scope="col" width="45%">Material Name</th>
        <th scope="col" width="45%">Material Qty</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngIf=" data?.length < 1">
        <td colspan="7" class="acenter error">No Products Found</td>
      </tr>
        <tr *ngFor="let datas of mf.data; let i = index">
            <td scope="col" width="10%" >{{i+1}}</td>
            <td scope="col" width="45%" >{{datas.material_name}}</td>
              <td scope="col">
                <mat-form-field class="input-example">
                  <mat-label>Qty</mat-label>
                  <input matInput type="number" autocomplete="off" name="qty" [(ngModel)]="datas.qty">
                </mat-form-field>
              </td>
        </tr>
        <tr>
            <td colspan="12">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50,100]"></mfBootstrapPaginator>
              </td>
        </tr>
    </tbody>
      </table>
      </form>


  </nb-card-body>
  <nb-card-footer class="aright">
    <button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
    &nbsp;
    <button nbButton matRipple hero status="primary" [disabled]="!f.valid" (click)="sgs.submitting = true; save()">Save</button>
  </nb-card-footer>
</nb-card>
