<form [formGroup]="form" (ngSubmit)="isAdd ? submit(form, emergency, employment, educationalForm) : update(form, emergency, employment)">
  <div class="row">
    <div class="col-sm-12">
      <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
        <nb-card-header>
          <div>
            <div class="action-groups-header" style="float: left; clear: both">Employee Information</div>
            <nb-actions size="medium" style="float: right; font-size: 10px">
              <nb-action>
                <div class="dropdown ghost-dropdown" ngbDropdown>
                  <button class="btn btn-primary" type="button" ngbDropdownToggle>Export As &nbsp;&nbsp;&nbsp;</button>
                  <ul class="dropdown-menu" ngbDropdownMenu>
                    <li class="dropdown-item">PDF</li>
                    <li class="dropdown-item">Microsoft Excel</li>
                  </ul>
                </div>
              </nb-action>
              <nb-action icon="printer-outline" tooltip="Print" placement="bottom"></nb-action>
              <nb-action icon="close-square-outline" (click)="closeModal()" tooltip="Close" placement="bottom"></nb-action>
            </nb-actions>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-12 strong">Basic Information</div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label><span class="error">*</span> Prefix: <span class="error" *ngIf="form?.get('prefix').touched && form.controls['prefix'].errors?.required">Required</span></label>
              <select class="form-control" formControlName="prefix" [ngClass]="{ fieldError: form.get('prefix').touched && form.controls['prefix'].errors?.required }">
                <option disabled></option>
                <option>Mr.</option>
                <option>Ms.</option>
                <option>Miss</option>
                <option>Mrs.</option>
                <option>Dr.</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label><span class="error">*</span>Last name: <span class="error" *ngIf="form?.get('lname').touched && form.controls['lname'].errors?.required">Required</span></label>
              <input type="text" class="form-control" formControlName="lname" [ngClass]="{ fieldError: form.get('lname').touched && form.controls['lname'].errors?.required }" />
            </div>
            <div class="col-sm-3">
              <label><span class="error">*</span>First name: <span class="error" *ngIf="form?.get('fname').touched && form.controls['fname'].errors?.required">Required</span></label>
              <input type="text" class="form-control" formControlName="fname" [ngClass]="{ fieldError: form.get('fname').touched && form.controls['fname'].errors?.required }" />
            </div>
            <div class="col-sm-3">
              <label><span class="error">*</span>Middle name: <span class="error" *ngIf="form?.get('mname').touched && form.controls['mname'].errors?.required">Required</span></label>
              <input type="text" class="form-control" formControlName="mname" [ngClass]="{ fieldError: form.get('mname').touched && form.controls['mname'].errors?.required }" />
            </div>
          </div>

          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-3">
              <label><span class="error">*</span>Nickname: <span class="error" *ngIf="form?.get('nickName').touched && form.controls['nickName'].errors?.required">Required</span></label>
              <input type="text" class="form-control" formControlName="nickName" [ngClass]="{ fieldError: form.get('nickName').touched && form.controls['nickName'].errors?.required }" />
            </div>
            <div class="col-sm-3">
              <label><span class="error">*</span>Gender <span class="error" *ngIf="form?.get('gender').touched && form.controls['gender'].errors?.required">Required</span></label>
              <select class="form-control" formControlName="gender" [ngClass]="{ fieldError: form.get('gender').touched && form.controls['gender'].errors?.required }">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label><span class="error">*</span>Date of birth <span class="error" *ngIf="form?.get('dateOfBirth').touched && form.controls['dateOfBirth'].errors?.required">Required</span></label>
              <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker formControlName="dateOfBirth" [ngClass]="{ fieldError: form.get('dateOfBirth').touched && form.controls['dateOfBirth'].errors?.required }" />
            </div>
            <div class="col-sm-3">
              <label><span class="error">*</span>Marital Status <span class="error" *ngIf="form?.get('maritalStatus').touched && form.controls['maritalStatus'].errors?.required">Required</span></label>
              <select class="form-control" formControlName="maritalStatus" [ngClass]="{ fieldError: form.get('maritalStatus').touched && form.controls['maritalStatus'].errors?.required }">
                <option disabled></option>
                <option>Single</option>
                <option>Married</option>
                <option>Widowed</option>
                <option>Divorced</option>
                <option>Separated</option>
              </select>
            </div>
          </div>

          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-12 strong">Address</div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <label><span class="error">*</span>Street Address: <span class="error" *ngIf="form?.get('streetAddress').touched && form.controls['streetAddress'].errors?.required">Required</span></label>
              <input type="text" class="form-control" formControlName="streetAddress" [ngClass]="{ fieldError: form.get('streetAddress').touched && form.controls['streetAddress'].errors?.required }" />
            </div>
            <div class="col-sm-4">
              <label>Apratment/Unit #:</label>
              <input type="text" class="form-control" formControlName="unitNumber" />
            </div>
            <div class="col-sm-4">
              <label><span class="error">*</span>City <span class="error" *ngIf="form?.get('city').touched && form.controls['city'].errors?.required">Required</span></label>
              <input type="text" class="form-control" formControlName="city" [ngClass]="{ fieldError: form.get('city').touched && form.controls['city'].errors?.required }" />
            </div>
          </div>
          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-4">
              <label><span class="error">*</span>Province: <span class="error" *ngIf="form?.get('province').touched && form.controls['province'].errors?.required">Required</span></label>
              <input type="text" class="form-control" formControlName="province" [ngClass]="{ fieldError: form.get('province').touched && form.controls['province'].errors?.required }" />
            </div>
            <div class="col-sm-4">
              <label><span class="error">*</span>Country: <span class="error" *ngIf="form?.get('country').touched && form.controls['country'].errors?.required">Required</span></label>
              <input type="text" class="form-control" formControlName="country" value="Philippines" [ngClass]="{ fieldError: form.get('country').touched && form.controls['country'].errors?.required }" />
            </div>
            <div class="col-sm-4">
              <label><span class="error">*</span>Zip Code: <span class="error" *ngIf="form?.get('zipCode').touched && form.controls['zipCode'].errors?.required">Required</span></label>
              <input type="number" class="form-control" formControlName="zipCode" [ngClass]="{ fieldError: form.get('zipCode').touched && form.controls['zipCode'].errors?.required }" />
            </div>
          </div>

          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-12 strong">Contact Information</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label>Mobile number:</label>
              <input type="text" class="form-control" formControlName="mobile" />
            </div>
            <div class="col-sm-4">
              <label>Telephone number:</label>
              <input type="text" class="form-control" formControlName="telephone" />
            </div>
            <div class="col-sm-4">
              <label>Email address: <span class="error" *ngIf="form.controls['email'].hasError('pattern')">Invalid Email</span></label>
              <input type="text" class="form-control" formControlName="email" [ngClass]="{ fieldError: form.get('email').touched && form.controls['email'].errors?.required }" />
            </div>
          </div>

          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-12 strong">
              <a (click)="viewEmergency()" class="pointer">
                <i [class]="emergencyIcon"></i>
                Emergency Contact Information
              </a>
            </div>
          </div>
          <div class="clear"></div>
          <div class="emergency_container" *ngIf="showEmergencyInfo == true" [formGroup]="emergency">
            <div class="row">
              <div class="col-sm-4">
                <label>Last name:</label>
                <input type="text" class="form-control" formControlName="lastName" />
              </div>
              <div class="col-sm-4">
                <label>First name:</label>
                <input type="text" class="form-control" formControlName="firstName" />
              </div>
              <div class="col-sm-4">
                <label>Middle name:</label>
                <input type="text" class="form-control" formControlName="middleName" />
              </div>
            </div>

            <div class="clear"></div>
            <div class="row">
              <div class="col-sm-12 strong">Address</div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <label>Street Address:</label>
                <input type="text" class="form-control" formControlName="streetAddress" />
              </div>
              <div class="col-sm-4">
                <label>Apratment/Unit #:</label>
                <input type="text" class="form-control" formControlName="unitNumber" />
              </div>
              <div class="col-sm-4">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city" />
              </div>
            </div>

            <div class="clear"></div>
            <div class="row">
              <div class="col-sm-12 strong">Contact Information</div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <label>Mobile number:</label>
                <input type="text" class="form-control" formControlName="mobile" />
              </div>
              <div class="col-sm-4">
                <label>Telephone number:</label>
                <input type="text" class="form-control" formControlName="phoneNumber" />
              </div>
              <div class="col-sm-4">
                <label>Relationship:</label>
                <input type="text" class="form-control" formControlName="relationship" />
              </div>
            </div>
          </div>

          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-12 strong">
              <a (click)="viewEmployment()" class="pointer">
                <i [class]="employmentIcon"></i>
                Employment Information
              </a>
            </div>
          </div>

          <div class="clear"></div>
          <div class="employment_container" *ngIf="showEmploymentInfo == true">
            <div [ngClass]="{ disabledDiv: employmentLength > 1 }">
              <div class="row">
                <div class="col-sm-12" *ngIf="employmentLength > 1"><label class="error">You can only modify the benefits information after you promote the employee.</label></div>
                <div class="col-sm-4">
                  <label><span class="error">*</span>Date Hired: <span class="error" *ngIf="form?.get('dateHired').touched && form.controls['dateHired'].errors?.required">Required</span></label>
                  <input type="text" placeholder="Datepicker" formControlName="dateHired" class="form-control" bsDatepicker [ngClass]="{ fieldError: form.get('dateHired').touched && form.controls['dateHired'].errors?.required }" />
                </div>
                <div class="col-sm-4" [formGroup]="employment">
                  <label><span class="error">*</span>Position: <span class="error" *ngIf="employment?.get('position').touched && employment.controls['position'].errors?.required">Required</span></label>
                  <select class="form-control" formControlName="position" [ngClass]="{ fieldError: employment.get('position').touched && employment.controls['position'].errors?.required }">
                    <option disabled></option>
                    <option *ngFor="let type of allPosition" [value]="type?.position">{{ type?.position | titlecase }}</option>
                  </select>
                </div>
                <div class="col-sm-4" [formGroup]="employment">
                  <label><span class="error">*</span>Employment type: <span class="error" *ngIf="employment?.get('employmentType').touched && employment.controls['employmentType'].errors?.required">Required</span></label>
                  <select class="form-control" formControlName="employmentType" [ngClass]="{ fieldError: employment.get('employmentType').touched && employment.controls['employmentType'].errors?.required }">
                    <option disabled></option>
                    <option>Full-time</option>
                    <option>Part-time</option>
                    <option>Trainee</option>
                  </select>
                </div>
              </div>
              <div class="clear"></div>
              <div class="row">
                <div class="col-sm-1">&nbsp;</div>
                <div class="col-sm-4" [formGroup]="employment">
                  <label><span class="error">*</span>Monthly Salary: <span class="error" *ngIf="employment?.get('monthlySalary').touched && employment.controls['monthlySalary'].errors?.required">Required</span></label>
                  <input type="number" class="form-control" formControlName="monthlySalary" [ngClass]="{ fieldError: employment.get('monthlySalary').touched && employment.controls['monthlySalary'].errors?.required }" />
                </div>
                <div class="col-sm-4" [formGroup]="employment">
                  <label><span class="error">*</span>Hourly rate: <span class="error" *ngIf="employment?.get('hourlyRate').touched && employment.controls['hourlyRate'].errors?.required">Required</span></label>
                  <input type="number" class="form-control" formControlName="hourlyRate" [ngClass]="{ fieldError: employment.get('hourlyRate').touched && employment.controls['hourlyRate'].errors?.required }" />
                </div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="row">
              <div class="col-sm-12 strong">Benifits:</div>
            </div>
            <div class="row">
              <div class="col-sm-1">&nbsp;</div>
              <div class="col-sm-4">
                <label>Philhealth ID:</label>
                <input type="number" class="form-control" formControlName="philHealth" />
              </div>
              <div class="col-sm-4">
                <label>Pag-ibig ID:</label>
                <input type="number" class="form-control" formControlName="pagIbig" />
              </div>
            </div>
            <div class="clear"></div>
            <div class="row">
              <div class="col-sm-1">&nbsp;</div>
              <div class="col-sm-4">
                <label>SSS ID:</label>
                <input type="number" class="form-control" formControlName="sss" />
              </div>
              <div class="col-sm-4">
                <label>TIN No.</label>
                <input type="number" class="form-control" formControlName="tin" />
              </div>
            </div>
          </div>

          <div class="clear"></div>
          <div class="row">
            <div class="col-sm-12 strong">
              <a (click)="viewEducationalBackground()" class="pointer">
                <i [class]="educationalIcon"></i>
                Educational Background
              </a>
            </div>
          </div>

          <div class="clear"></div>
          <div class="education_container" *ngIf="showEducationalInfo == true" [formGroup]="educationalForm">
            <div class="row">
              <div class="col-sm-4">
                <label><span class="error">*</span> Education</label>
                <select class="form-control" formControlName="education" [ngClass]="{ fieldError: educationalForm.get('education').touched && educationalForm.controls['education'].errors?.required }">
                  <option disabled></option>
                  <option>Elementary</option>
                  <option>High School</option>
                  <option>Vocational</option>
                  <option>Bachelor's Level</option>
                  <option>Masters Level</option>
                  <option>Doctoral Level</option>
                </select>
              </div>
              <div class="col-sm-4">
                <label><span class="error">*</span> School Name:</label>
                <input type="text" class="form-control" formControlName="school" [ngClass]="{ fieldError: educationalForm.get('school').touched && educationalForm.controls['school'].errors?.required }" />
              </div>
              <div class="col-sm-4">
                <label>Location:</label>
                <input type="text" class="form-control" formControlName="location" />
              </div>
            </div>
            <div class="clear"></div>
            <div class="row">
              <div class="col-sm-3">
                <label><span class="error">*</span> School Year:</label>
                <input type="text" class="form-control" formControlName="schoolYear" [ngClass]="{ fieldError: educationalForm.get('schoolYear').touched && educationalForm.controls['schoolYear'].errors?.required }" />
              </div>
              <div class="col-sm-4">
                <label>Course of study:</label>
                <input type="text" class="form-control" formControlName="courseOfStudy" [ngClass]="{ disabled: educationalForm.get('education').value == 'Elementary' || educationalForm.get('education').value == 'High School' }" />
              </div>
              <div class="col-sm-4">
                <label>Degree:</label>
                <input type="text" class="form-control" formControlName="degree" [ngClass]="{ disabled: educationalForm.get('education').value == 'Elementary' || educationalForm.get('education').value == 'High School' }" />
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-primary btn-educational" (click)="addEducationalBackground(educationalForm)" [disabled]="educationalForm?.invalid"><nb-icon icon="plus-square-outline" status="primary"></nb-icon></button>
              </div>
            </div>
            <div class="clear"></div>
            <div class="col-sm-12" *ngIf="educational?.length >= 1">
              <hr />
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="acenter">Education</th>
                    <th class="acenter">Name</th>
                    <th class="acenter">Location</th>
                    <th class="acenter">School Year</th>
                    <th class="acenter">Course of study</th>
                    <th class="acenter">Degree</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let educational of educational">
                    <td>{{ educational?.education }}</td>
                    <td>{{ educational?.school }}</td>
                    <td>{{ educational?.location }}</td>
                    <td>{{ educational?.schoolYear }}</td>
                    <td>{{ educational?.courseOfStudy }}</td>
                    <td>{{ educational?.degree }}</td>
                    <td class="acenter">
                      <ng-container *ngIf="educational._id">
                        <i class="fas fa-pencil-alt pointer" (click)="editEduc(form.value.uid, educational)"></i>&nbsp;
                        <i class="fas fa-trash-alt pointer" (click)="removeEduc(form, educational._id)"></i>
                      </ng-container>
                      <ng-container *ngIf="!educational._id">
                        <a class="disabledLinks" nbPopover="You need to save your form before you can modify this data." nbPopoverMode="hint" nbPopoverPlacement="top"><i icon="edit-2-outline"></i></a>&nbsp;
                        <i class="fas fa-trash-alt pointer" (click)="removeEducArray(educational)"></i>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="clear"></div>
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success fright" [disabled]="form?.invalid && employment?.invalid">
                <ng-container *ngIf="isAdd">Save</ng-container>
                <ng-container *ngIf="!isAdd">Update</ng-container>
              </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>
