<nb-card>
  <nb-card-header>
    <div class="action-groups-header" style="float: left; clear: both">
      Employee Total Work Hours
    </div>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
</nb-card-header>

  <nb-card-body [nbSpinner]="sgs.loading" nbSpinnerStatus="success">
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field class="input-example"  >
          <mat-label>Total Hours:
          </mat-label>
          <input matInput type="number" autocomplete="off" [(ngModel)]="totalHours"  required>
          <mat-error >Total Hours is required</mat-error>
        </mat-form-field>
      </div>
    </div>

  </nb-card-body>
  <nb-card-footer class="aright">
    <button nbButton matRipple hero status="primary" [disabled]="totalHours <= 0 ||sgs.submitting" (click)="save()">Save</button>
    &nbsp;

    <button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
  </nb-card-footer>
  </nb-card>
