<div class="row">
	<div class="col-sm-12">
		<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
			<nb-card-header>
				<div class="action-groups-header" style="float: left; clear: both">Employee Database</div>
				<nb-actions size="medium" style="float: right; font-size: 10px">
					<nb-action>
						<div class="input-group">
							<input type="search" #search class="form-control" [placeholder]="selectQueryString" [(ngModel)]="filterQuery" />
							<div class="input-group-append">
								<span class="input-group-text pointer" [nbPopover]="filter" nbPopoverPlacement="bottom">
									<i class="fas fa-filter"></i>
								</span>
							</div>
						</div>
					</nb-action>
					<nb-action icon="plus-square-outline" nbPopover="Add New Employee" nbPopoverTrigger="hint" nbPopoverPlacement="top" (click)="addUser()"></nb-action>
					<nb-action icon="close-square-outline" (click)="sgs.back()" nbPopover="Close" nbPopoverTrigger="hint" nbPopoverPlacement="top"></nb-action>
				</nb-actions>
			</nb-card-header>
			<nb-card-body>
				<div class="row">
					<div class="col-sm-12">
						<div class="clear"></div>
						<table class="table" [mfData]="data | dataFilter: filterQuery:selectQuery" #mf="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
							<thead>
								<tr>
									<!-- <th scope="col">#</th> -->
									<th scope="col">Employee ID</th>
									<th scope="col">Name</th>
									<th scope="col">Username</th>
									<th scope="col">Position / Role</th>
									<th scope="col">Status</th>
									<th scope="col" width="10%">Options</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of mf.data; let i = index">
									<!-- <td scope="col">{{ i + 1 }}</td> -->
									<td scope="col">{{ data.id }}</td>
									<td scope="col">{{ data.lname | titlecase }}, {{ data.fname | titlecase }}</td>
									<td scope="col">{{ data.username }}</td>
									<td scope="col">{{ data.designation | titlecase }} / {{ data.role | titlecase }}</td>
									<td scope="col">
										<ng-container *ngIf="data?.status == 1 && data?.emp.length == 1"><a class="badge badge-success">Active</a></ng-container>
										<ng-container *ngIf="data?.status == 2 && data?.emp.length == 1"><a class="badge badge-danger">Deactivated</a></ng-container>
										<ng-container *ngIf="data?.emp.length == 0"><a (click)="addEmployee(data.id)" class="badge badge-warning pointer linkUncolored">Set Employee Profile</a></ng-container>
									</td>
									<td class="align-middle text-center">
										<a [routerLink]="['../employeeProfile/', data._id]"
											><i class="fas fa-pencil-alt pointer linkUncolored" nbPopover="Update employee information" nbPopoverMode="hint" nbPopoverPlacement="right"></i>
										</a>
										&nbsp;
										<a [routerLink]="['../viewEmployeeProfile', data._id]" nbPopover="View view employee information" nbPopoverMode="hint" nbPopoverPlacement="right"
											><i class="fa fa-eye pointer linkUncolored"></i>
										</a>
										&nbsp;
										<a
											*ngIf="data?.emp.length == 1"
											[routerLink]="['../employmentInformation', data._id]"
											nbPopover="View employment history and promotion"
											nbPopoverMode="hint"
											nbPopoverPlacement="right"
											><i class="fas fa-user-plus linkUncolored"></i>
										</a>
										<a *ngIf="data?.emp.length == 0" nbPopover="Please update the employee profile first" nbPopoverMode="hint" nbPopoverPlacement="right"
											><i class="fas fa-user-plus linkUncolored linkDisabled"></i>
										</a>
										&nbsp;
										<a (click)="updateUser(data.id)" nbPopover="View Employee User Account" nbPopoverMode="hint" nbPopverPlacement="left"><i class="fas fa-user-tie pointer linkUncolored"></i></a>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="10">
										<mfBootstrapPaginator [rowsOnPageSet]="[10, 20, 50, 100]"></mfBootstrapPaginator>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
</div>

<ng-template #filter nbPopoverTrigger="noop">
	<nb-card style="margin-bottom: 0">
		<nb-card-header> Search Filter: </nb-card-header>
		<nb-list>
			<nb-list-item class="pointer" (click)="selectFilter('id', 'Employee ID')">Employee ID</nb-list-item>
			<nb-list-item class="pointer" (click)="selectFilter('fname', 'First Name')">First Name</nb-list-item>
			<nb-list-item class="pointer" (click)="selectFilter('mname', 'Middle Name')">Middle Name</nb-list-item>
			<nb-list-item class="pointer" (click)="selectFilter('lname', 'Last Name')">Last Name</nb-list-item>
			<nb-list-item class="pointer" (click)="selectFilter('position', 'Position')">Position</nb-list-item>
			<nb-list-item class="pointer" (click)="selectFilter('mobile', 'Mobile Number')">Mobile Number</nb-list-item>
			<nb-list-item class="pointer" (click)="selectFilter('maritalStatus', 'Marital Status')">Marital Status</nb-list-item>
		</nb-list>
	</nb-card>
</ng-template>
