<div class="modal-header">
	Employee Time Logs
	<button class="close" aria-label="Close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<table class="table">
		<thead>
			<tr>
				<th class="acenter">#</th>
				<th class="acenter">In</th>
				<th class="acenter">Out</th>
				<th class="acenter">Lunch In</th>
				<th class="acenter">Lunch Out</th>
				<th class="acenter">Break In</th>
				<th class="acenter">Break Out</th>
				<!-- <th class="acenter"><i class="fas fa-bars"></i></th> -->
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let time of timeLogs; let i = index" [ngClass]="{ noOut: time?.out == null }">
				<td class="acenter">{{ i + 1 }}</td>
				<td class="acenter">{{ time?.in | reversedate | date: 'shortTime' }}</td>
				<td class="acenter">
					<ng-container *ngIf="time?.out != null">{{ time?.out | reversedate | date: 'shortTime' }}</ng-container>
					<ng-container *ngIf="time?.out == null">No Out</ng-container>
				</td>
				<td class="acenter">{{ time?.lunchIn | reversedate | date: 'shortTime' }}</td>
				<td class="acenter">
					<ng-container *ngIf="time?.lunchOut != null">{{ time?.lunchOut | reversedate | date: 'shortTime' }}</ng-container>
					<ng-container *ngIf="time?.lunchOut == null">No Out</ng-container>
				</td>
				<td class="acenter">{{ time?.breakIn | reversedate | date: 'shortTime' }}</td>
				<td class="acenter">
					<ng-container *ngIf="time?.breakOut != null">{{ time?.breakOut | reversedate | date: 'shortTime' }}</ng-container>
					<ng-container *ngIf="time?.breakOut == null">No Out</ng-container>
				</td>
				<!-- <td class="acenter">
          <i (click)="editTime(time, i)" class="fas fa-pencil-alt pointer"></i> &nbsp;
          <i (click)="time.length >= 1 ? removeTime(time) : removeTimeWithError()" class="fas fa-times pointer"></i>
        </td> -->
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" (click)="closeModal()">Close</button>
</div>
