.payslip-container{
    width: 100%;
    border: 1px solid black;
}
.hmed-logo{
    width: 75px; 
    margin-top:15px;
    margin-left:10px;
}
.header{
    margin-left: -10%;
    margin-top: 10px;
}
.table th, .table td{
    padding: 0.30rem;
    padding-left: 10px;
}
.bordered-left{
    border-left: 2px solid #dee2e6;
}