<nb-card class="mainDiv" [nbSpinner]="loading" nbSpinnerStatus="success">
  <nb-card-header>
    {{ truckCatergory | titlecase }} Maintenance
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row clear">
      <div class="col-sm-4">
        <label>Unit ID: &nbsp; <b>{{ truck_id }}</b></label>
      </div>
      <div class="col-sm-4">
        <label>Name/Model: <b>{{ truckCatergory | uppercase }}</b> / <b>{{ truckModel | uppercase }}</b></label>
      </div>
    </div>
    <hr />
    <br />
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="input-example">
          <mat-label>Last Change Oil:</mat-label>
          <input matInput autocomplete="off" [(ngModel)]="lastChangeOil" readonly />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="input-example">
          <mat-label>Last Gear Oil Change:</mat-label>
          <input matInput autocomplete="off" [(ngModel)]="lastGearOil" readonly />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="input-example">
          <mat-label>Next Change Oil:</mat-label>
          <input matInput autocomplete="off" [(ngModel)]="nextChangeOil" readonly />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="input-example">
          <mat-label>Next Gear Oil Change:</mat-label>
          <input matInput autocomplete="off" [(ngModel)]="nextGearOil" readonly />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <button nbButton matRipple hero status="success" (click)="updateChangeOil()">Update Change Oil</button>
      </div>
    </div>
    <hr />
    <br />
    <div class="row">
      <div class="col-sm-4">
        <label>Odometer</label>
        <h4 style="width: fit-content">{{ this.ordometer | number: '1.2-2' }} Km</h4>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-success" (click)="updateOrdometer(this.ordometer)">Update Odometer</button>
      </div>
    </div>
    <hr />
    <br />
    <div class="row">
      <div class="col-sm-12 scroll">
        <nb-tabset>
          <nb-tab tabTitle="MAINTENANCE LIST">
            <nb-card-body>
              <table class="table table-striped" [mfData]="data | dataFilter: filterQuery:selectQuery" #mf="mfDataTable"
                [mfRowsOnPage]="10" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date and Time</th>
                    <th scope="col">Inspected By</th>
                    <th scope="col">Mechanic Note</th>
                    <th scope="col">Acknowledge By</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="mf.data.length < 1">
                    <td colspan="7" class="acenter error">No Maintenance found</td>
                  </tr>
                  <tr *ngFor="let data of mf.data; let i = index">
                    <td scope="col">{{ (mf.activePage - 1) * mf.rowsOnPage + i + 1 }}</td>
                    <td scope="col">{{ data.dateAdded | reversedate | date: 'MMM. d,yy - ' }} {{ data.time }}</td>
                    <td scope="col">
                      {{ data.inspectedByFname + ',' + data.inspectedByMname + ',' + data.inspectedByLname }}
                    </td>
                    <td scope="col">{{ data.mechanicNote }}</td>
                    <td scope="col">
                      {{ data.acknowledgeByFname + ',' + data.acknowledgeByMname + ',' + data.acknowledgeByLname }}
                    </td>
                    <td>
                      <i class="fa fa-eye pointer" title="View Maintenance" nbPopoverTrigger="hint"
                        (click)="view(data)"></i>
                      &nbsp;
                      <i class="fas fa-trash-alt pointer" title="Delete Maintenance" nbPopoverTrigger="hint"
                        (click)="deleteMaintenance(data.id)"></i>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="10">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10, 20, 50, 100]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </nb-card-body>
            <nb-card-footer class="aright">
              <button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
              &nbsp;
              <button nbButton matRipple hero status="info" (click)="addTruckMaintenance()">Add Maintenance</button>
            </nb-card-footer>
          </nb-tab>
          <nb-tab tabTitle="JOB ORDER/BILLING">
            <ngx-billing [data]="truck_id"></ngx-billing>
          </nb-tab>
          <nb-tab tabTitle="TRUCK ACCOMPLISTMENT REPORT">
            <ngx-accomplishment-form [data]="truck_id"></ngx-accomplishment-form>
          </nb-tab>
          <nb-tab tabTitle="TRUCK CHECKLIST">
            <ngx-truck-checklist [data]="truck_id"></ngx-truck-checklist>
          </nb-tab>
          <nb-tab tabTitle="ROADTEST CHECKLIST">
            <ngx-roadtest-checklist [data]="truck_id"></ngx-roadtest-checklist>
          </nb-tab>
          <nb-tab tabTitle="MAINTENANCE AND REPAIR HISTORY">
            <ngx-maintenancerepair [datas]="[truck_id,ordometer]"></ngx-maintenancerepair>
          </nb-tab>
        </nb-tabset>
      </div>
    </div>
  </nb-card-body>
</nb-card>
