.zero{
  background: #7FFFD4;
  color: white;
  border-radius: 4px;
  padding: 4px;
  margin: 0px;
}
.rejected{
    background: #ff0000c4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
    cursor: pointer;
}
.pending{
    background: #ff8d00c4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
}
.medium{
    background: #0066ffc4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
}
.approved{
    background: #007925c4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
}
.overstocks{
    background: #79004ec4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
}
.tooMuchoverstocks{
    background: #79004ec4;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 0px;
}

.paid{
  background: #808080;
  color: white;
  border-radius: 4px;
  padding: 4px;
  margin: 0px;
}

