<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
  <nb-card-header>
    <div>
      <div class="action-groups-header" style="float: left; clear: both">Set Working Days</div>
      <nb-actions size="medium" style="float: right; font-size: 10px">
        <nb-action icon="plus-square-outline" (click)="addWorkingDays()" tooltip="Add new Work Days" placement="bottom" *ngIf="days?.length === 0 && flag"></nb-action>
        <nb-action>
          <div class="dropdown ghost-dropdown" ngbDropdown>
            <button class="btn btn-primary" type="button" ngbDropdownToggle>Export As &nbsp;&nbsp;&nbsp;</button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item">PDF</li>
              <li class="dropdown-item">Microsoft Excel</li>
            </ul>
          </div>
        </nb-action>
        <nb-action icon="printer-outline" tooltip="Print" placement="bottom"></nb-action>
        <nb-action icon="close-square-outline" (click)="goBack()" tooltip="Close" placement="bottom"></nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row" [nbSpinner]="loading">
      <div class="col-sm-3">
        <div class="month_container" *ngFor="let day of workingDays; let i = index" (click)="selectMonth(day.name)">
          <div class="icon_container"><i class="fas fa-calendar-day"></i></div>
          <div class="month_title_container" *ngIf="day?.name != selectedDay">
            &nbsp;
            <div class="month_title">{{ day?.name | titlecase }}</div>
          </div>
          <div class="month_title_container_selected" *ngIf="day?.name == selectedDay">
            &nbsp;
            <div class="month_title">{{ day?.name | titlecase }}</div>
          </div>
        </div>
        <div class="month_container" *ngFor="let off of offs; let i = index" (click)="selectMonth(off.name)">
          <div class="icon_container"><i class="fas fa-calendar-day"></i></div>
          <div class="month_title_container" *ngIf="off?.name !== selectedDay">
            &nbsp;
            <div class="month_title">{{ off?.name | titlecase }}</div>
          </div>
          <div class="month_title_container_selected1" *ngIf="off?.name == selectedDay">
            &nbsp;
            <div class="month_title">{{ off?.name | titlecase }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <table class="table">
          <thead>
            <tr class="calendar_month_header" [ngClass]="{ calendar_month_header: days?.length > 0, calendar_month_header1: days?.length === 0 }">
              <th colspan="5"><i class="far fa-calendar-alt"></i> {{ selectedDay || 'Monday' | titlecase }}</th>
              <th colspan="2" class="aright">
                <ng-container *ngIf="days?.length > 0">
                  <a class="pointer fright" nbPopover="Edit Working Days and Hours" nbPopoverMode="hint" nbPopoverPlacement="top" (click)="editWorking()"><i class="fa fa-plus-square"></i> Edit</a>
                </ng-container>
              </th>
            </tr>
            <tr>
              <th>#</th>
              <th>Login Time</th>
              <th>Logout Time</th>
              <th>Grace Period</th>
              <th>Grace Time</th>
              <th>Lunch Hours</th>
              <th>Break Minutes</th>
            </tr>
          </thead>
          <tbody [nbSpinner]="loading">
            <tr *ngIf="days?.length <= 0">
              <td colspan="5" class="error acenter">{{ label | titlecase }}</td>
            </tr>
            <tr *ngFor="let info of days; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ info.starts | reversedate | date: 'shortTime' }}</td>
              <td>{{ info.ends | reversedate | date: 'shortTime' }}</td>
              <td>{{ info.gracePeriods | reversedate | date: 'shortTime' }}</td>
              <td>{{ info.graceTime | reversedate | date: 'shortTime' }}</td>
              <td>{{ info.lunch === 1 ? info.lunch + 'hour' : info.lunch + 'hours' }}</td>
              <td>{{ info.break }} mins</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<!-- <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
  <nb-card-header>
    <div>
      <div class="action-groups-header" style="float: left; clear: both">Set Working Days</div>
      <nb-actions size="medium" style="float: right; font-size: 10px">
        <nb-action icon="plus-square-outline" (click)="addWorkingDays()" tooltip="Add new Work Days" placement="bottom" *ngIf="days?.length === 0 && flag"></nb-action>
        <nb-action>
          <div class="dropdown ghost-dropdown" ngbDropdown>
            <button class="btn btn-primary" type="button" ngbDropdownToggle>Export As &nbsp;&nbsp;&nbsp;</button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item">PDF</li>
              <li class="dropdown-item">Microsoft Excel</li>
            </ul>
          </div>
        </nb-action>
        <nb-action icon="printer-outline" tooltip="Print" placement="bottom"></nb-action>
        <nb-action icon="close-square-outline" (click)="goBack()" tooltip="Close" placement="bottom"></nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row" [nbSpinner]="loading">
      <div class="col-sm-3">
        <div class="month_container" *ngFor="let day of workingDays; let i = index" (click)="selectMonth(day.name)">
          <div class="icon_container"><i class="fas fa-calendar-day"></i></div>
          <div class="month_title_container" *ngIf="day?.name != selectedDay">
            &nbsp;
            <div class="month_title">{{ day?.name | titlecase }}</div>
          </div>
          <div class="month_title_container_selected" *ngIf="day?.name == selectedDay">
            &nbsp;
            <div class="month_title">{{ day?.name | titlecase }}</div>
          </div>
        </div>
        <div class="month_container" *ngFor="let off of offs; let i = index" (click)="selectMonth(off.name)">
          <div class="icon_container"><i class="fas fa-calendar-day"></i></div>
          <div class="month_title_container" *ngIf="off?.name !== selectedDay">
            &nbsp;
            <div class="month_title">{{ off?.name | titlecase }}</div>
          </div>
          <div class="month_title_container_selected1" *ngIf="off?.name == selectedDay">
            &nbsp;
            <div class="month_title">{{ off?.name | titlecase }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <table class="table">
          <thead>
            <tr class="calendar_month_header" [ngClass]="{ calendar_month_header: days?.length > 0, calendar_month_header1: days?.length === 0, calendar_month_header: !days?.length }">
              <th colspan="5"><i class="far fa-calendar-alt"></i> {{ selectedDay | titlecase }}</th>
              <th colspan="2" class="aright">
                <ng-container *ngIf="days?.length > 0">
                  <a class="pointer fright" nbPopover="Edit Working Days and Hours" nbPopoverMode="hint" nbPopoverPlacement="top" (click)="editWorking()"><i class="fa fa-plus-square"></i> Edit</a>
                </ng-container>
              </th>
            </tr>
            <tr>
              <th>#</th>
              <th>Login Time</th>
              <th>Logout Time</th>
              <th>Grace Period</th>
              <th>Grace Time</th>
              <th>Lunch Hours</th>
              <th>Break Minutes</th>
            </tr>
          </thead>
          <tbody [nbSpinner]="loading">
            <tr *ngIf="days?.length <= 0">
              <td colspan="5" class="error acenter">{{ label && selectedDay ? label : ('Click Days' | uppercase) }}</td>
            </tr>
            <tr [ngClass]="{ hide: days?.length <= 0 }">
              <td>{{ 0 + 1 }}</td>
              <td>{{ login | date: 'shortTime' }}</td>
              <td>{{ logout | date: 'shortTime' }}</td>
              <td>{{ gracePeriod | date: 'shortTime' }}</td>
              <td>{{ graceTime | date: 'shortTime' }}</td>

              <td>{{ lunch === 1 ? lunch + 'hour' : lunch + 'hours' }}</td>
              <td>{{ break }} mins</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card> -->
