<nb-card>
  <nb-card-header>
    <div class="action-groups-header" style="float: left; clear: both">
      Deductions
    </div>

    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="clear"></div>
          <table class="table table-bordered" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Deductions</th>
                <th scope="col">Deduction Type</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data; let i = index" >
                <td scope="col">{{i+1}}</td>
                <td scope="col">{{d.deductionName | titlecase}}</td>
                <td scope="col">{{d.deductionType | titlecase}}</td>
                <td scope="col">{{d.deductionType === 'percentage' ? (d.deductiontotal / 100): d.deductiontotal | number: '1.2-2'}}</td>
                <!-- <td scope="col" >{{d.deductiontotal | number: '1.2-2'}}</td> -->
              </tr>
              <!-- <tr>
                <th colspan="4">
                  <span class="total">TOTAL ({{total | number : '1.2-2'}})</span>
                </th>

              </tr> -->
            </tbody>
          </table>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer >
    <button nbButton matRipple hero class="float-right" status="danger" (click)="closeModal()">Close</button>
        &nbsp;
    <button nbButton matRipple hero class="float-left" status="info" (click)="addDeduction()">Add New Deduction</button>

  </nb-card-footer>
</nb-card>
