<nb-card *ngIf="data.length">
  <nb-card-header class="head">Employee Renewals</nb-card-header>
  <nb-card-body>
    <table class="table" [mfData]="data | dataFilter: filterQuery:selectQuery" #mf="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Employee ID</th>
          <th scope="col">Prefix</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="mf.data.length < 1">
          <td colspan="7" class="acenter error">No data found</td>
        </tr>
        <tr *ngFor="let employee of data; let idx = index">
          <td scope="col">{{ (mf.activePage - 1) * mf.rowsOnPage + idx + 1 }}</td>
          <td scope="col">{{ employee.id }}</td>
          <td scope="col">{{ employee.prefix }}</td>
          <td scope="col">{{ employee.fname }} {{ employee.mname }} {{ employee.lname }}</td>
          <td scope="col" (click)="renewals(employee.id)">
            <i class="fa fa-eye pointer" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="10">
          <mfBootstrapPaginator [rowsOnPageSet]="[10, 20, 50, 100]"></mfBootstrapPaginator>
        </td>
      </tfoot>
    </table>
  </nb-card-body>
</nb-card>
