<div class="modal-header">
  Pag-Ibig Contribution Table:
  <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row" *ngIf="!isActive">
      <div class="col-sm-12">
        <label><span class="error">*</span> Contribution Name:</label>
        <input type="text" class="form-control" formControlName="title" [ngClass]="{'fieldError': form.get('title').touched && form.controls['title'].errors?.required}">
      </div>
      <div class="col-sm-12">
        <label>Desctiption:</label>
        <input type="text" class="form-control" formControlName="description">
      </div>
      <div class="col-sm-12">
        <label>Note:</label>
        <textarea class="form-control" formControlName="note"></textarea>
      </div>
    </div>
  </form>
  
  <form [formGroup]="table">
    <ng-container *ngIf="isActive">
      <div class="row">
        <div class="col-sm-12">
          <label>Monthly Compensation Range:</label>
        </div>
        <div class="clear"></div>
        <div class='col-sm-12 input-group-sm'>
          <label>From: <i class="fas fa-exclamation-triangle error" nbPopover="Field value must be at least 0 - 999999999" nbPopoverMode="hint" nbPopoverPlacement="top" 
            *ngIf="table.controls['mcFrom'].errors?.min || table.controls['mcFrom'].errors?.max"></i>
          </label>
          <input type="number" class="form-control" formControlName="mcFrom" min="0" max="999999999" [ngClass]="{'fieldError': table.get('mcFrom').touched && 
            table.controls['mcFrom'].errors?.required || table.controls['mcFrom'].errors?.min || table.controls['mcFrom'].errors?.max }">
        </div>

        <div class="clear"></div>
        <div class='col-sm-12 input-group-sm'>
          <label>To: <i class="fas fa-exclamation-triangle error" nbPopover="Field value must be at least 0 - 999999999" nbPopoverMode="hint" nbPopoverPlacement="top" 
            *ngIf="table.controls['mcTo'].errors?.min || table.controls['mcTo'].errors?.max"></i>
          </label>
          <input type="number" class="form-control" formControlName="mcTo" min="0" max="999999999" [ngClass]="{'fieldError': table.get('mcTo').touched && 
            table.controls['mcTo'].errors?.required || table.controls['mcTo'].errors?.min || table.controls['mcTo'].errors?.max }">
        </div>

        <div class="clear"></div>
        <div class='col-sm-12 input-group-sm'>
          <label>Employee Share: (%) <i class="fas fa-exclamation-triangle error" nbPopover="Field value must be at least 1 - 100" nbPopoverMode="hint" nbPopoverPlacement="top" 
            *ngIf="table.controls['ees'].errors?.min || table.controls['ees'].errors?.max"></i>
          </label>
          <input type="number" class="form-control" formControlName="ees" min="1" max="100" [ngClass]="{'fieldError': table.get('ees').touched && 
            table.controls['ees'].errors?.required || table.controls['ees'].errors?.min || table.controls['ees'].errors?.max }">
        </div>

        <div class="clear"></div>
        <div class='col-sm-12 input-group-sm'>
          <label>Employer Share: (%)<i class="fas fa-exclamation-triangle error" nbPopover="Field value must be at least 1 - 100" nbPopoverMode="hint" nbPopoverPlacement="top" 
            *ngIf="table.controls['ers'].errors?.min || table.controls['ers'].errors?.max"></i>
          </label>
          <input type="number" class="form-control" formControlName="ers" min="1" max="100" [ngClass]="{'fieldError': table.get('ers').touched && 
            table.controls['ers'].errors?.required || table.controls['ers'].errors?.min || table.controls['ers'].errors?.max }">
        </div>
      </div>
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" (click)="closeModal()">Close</button>
  <button type="submit" *ngIf="!isActive" class="btn btn-success confirm-btn" (click)="proceed()" [disabled]="form?.invalid">Proceed</button>
  <button type="submit" *ngIf="isActive" class="btn btn-success confirm-btn" (click)="save()" [disabled]="table?.invalid">Save</button>
</div>
    