<nb-card>
  <nb-card-header>
    Update Material
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>
  <nb-card-body [nbSpinner]="sgs.loading" nbSpinnerStatus="success" [formGroup]="form">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="input-example">
          <mat-label>Name</mat-label>
          <input matInput autocomplete="off" formControlName="name" required>
          <mat-error *ngIf="form.get('name').touched && form.controls['name'].errors?.required">Name is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="input-example">
          <mat-label>Description</mat-label>
          <input matInput autocomplete="off" formControlName="description" required>
          <mat-error *ngIf="form.get('description').touched && form.controls['description'].errors?.required">Description is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="input-example">
          <mat-label>Brand</mat-label>
          <input matInput autocomplete="off" formControlName="brand" required>
          <mat-error *ngIf="form.get('brand').touched && form.controls['brand'].errors?.required">Brand is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col-md-2">
        <mat-label>Add image</mat-label>
        <div class="example-button-row">
          <button mat-raised-button color="primary" title="Upload document."  (click)="openFile($event, 'file')">
            <i class="fas fa-file-upload"></i>
            &nbsp;
            Upload</button>
            <input type="file" name="file" class="d-none" id="file" accept="image/x-png,image/gif,image/jpeg">
        </div>
      </div>
      <div class="col-md-4 image"  *ngIf="imageInfo != undefined">
        <img id='image-source' [src]="imageInfo.link | assets: 'empDocuments':'html'">&nbsp;
        <button title="Remove this image." nbButton size="tiny" status="danger"
          (click)="removeImage(imageInfo.link)"><a class="far fa-trash-alt pointer">&nbsp;Remove</a></button>
      </div>
      <div class="col-md-1">
        <button type="button" title="Add this document." class="btn btn-primary btn-educational"
          (click)="addDocBackground(form)" [disabled]="form?.invalid || imageInfo == undefined"><i
            class="fas fa-plus-square"></i></button>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row">
      <table class="table table-borderd">
        <thead>
          <tr style="font-weight: 600">
            <td >Image</td>
              <td>File Name</td>

              <td>Options</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="material_data.length == 0">
            <td colspan="7" class="acenter error">No data found</td>
          </tr>
          <tr *ngFor="let img of material_data">
            <td  colspan="1">
              <img id='image-source' (click)="viewImg(img.files.link)" [src]="img.files.link | assets: 'empDocuments':'html'">&nbsp;
            </td>
              <!-- <td>{{img.files.fileName}}</td> -->
              <td>{{img.files.fileName}}</td>


           <td class="acenter">
            <a class="fas fa-edit pointer" title="Edit this Image."
            (click)="editImg(img.files)"></a>
            &nbsp;
            <a class="far fa-trash-alt pointer" title="Remove this Image."
              (click)="removeImg(img.files._id)"></a>
            &nbsp;
            <!-- <a class="far fa-eye pointer" title="View this Image." (click)="viewImg(img.files.link)"></a> -->
          </td>
          </tr>
        </tbody>
      </table>
      </div>
  </nb-card-body>
  <nb-card-footer class="aright">
<button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
&nbsp;
<button nbButton matRipple hero status="primary" [disabled]="form?.invalid || sgs.submitting" (click)="sgs.submitting = true; update(form)">Update</button>

  </nb-card-footer>
</nb-card>
